  <section aria-labelledby="page-title">
  
    <h3 class="heading-medium" id="page-title">Page title</h3>
    
    <p class="text">Semantic <abbr title="HyperText Markup Language">HTML</abbr> can be added to page title in forms of heading tags or paragraphs and still visually look the same.</p>
    
    <p class="text">An additional line of supporting content can be added.</p>
    
    <div class="example">
      
      <div class="page-title">
        <h2>Review full case</h2>
      </div>
      
      <br>
      
      <div class="page-title">
        <h2>Main page title</h2>
        <p>Include some extra information</p>
      </div>
      
    </div>
  
  </section>
  
  <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
  &#x3C;div class=&#x22;page-title&#x22;&#x3E;
    &#x3C;h2&#x3E;Review full case&#x3C;/h2&#x3E;
  &#x3C;/div&#x3E;
  
  &#x3C;div class=&#x22;page-title&#x22;&#x3E;
    &#x3C;h2&#x3E;Main page title&#x3C;/h2&#x3E;
    &#x3C;p&#x3E;Include some extra information&#x3C;/p&#x3E;
  &#x3C;/div&#x3E;
  </code></pre></div>
  
  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>