  <nav class="toc" id="toc">
    
    <div class="panel panel-border-narrow">
    
      <h1 class="heading-small">Contents</h1>
      
      <ul class="list">
        <li><a href="#notifications">Notifications</a></li>
        <li><a href="#notice">Notice</a></li>
        <li><a href="#persist-info">Persist info</a></li>
        <li><a href="#phase-banners">Phase banners</a></li>
      </ul>
    
    </div>
    
  </nav>