  <section aria-labelledby="warning-banner">

    <h3 class="heading-medium" id="warning-banner">Warning banner</h3>

    <div class="example">

      <div class="warning-banner" role="alert">
        <i class="icon icon-alert" role="presentation" aria-hidden="true"></i>
        <div class="warning-banner-message">
          <p>Jo Cooper is working on this case &ndash; you must check with them before editing anything</p>
        </div>
      </div>

    </div>

    <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
  &#x3C;div class=&#x22;warning-banner&#x22; role=&#x22;alert&#x22;&#x3E;

    &#x3C;i class=&#x22;icon icon-alert&#x22; role=&#x22;presentation&#x22; aria-hidden=&#x22;true&#x22;&#x3E;&#x3C;/i&#x3E;

    &#x3C;div class=&#x22;warning-banner-message&#x22;&#x3E;
      &#x3C;p&#x3E;Jo Cooper is working on this case &#x26;ndash; you must check with them...&#x3C;/p&#x3E;
    &#x3C;/div&#x3E;
    
  &#x3C;/div&#x3E;
    </code></pre></div>

  </section>

  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>
