{{>doctype}}


  <main id="content" role="main">
    
    
    {{#if phaseBanner}}{{>phase-banner}}{{/if}}
    
    
    {{>breadcrumbs}}
    
    
    {{>page-header}}
    
  
    {{{body}}}
    
  
  </main>


{{>footer}}