  <section aria-labelledby="headings">

    <h3 class="heading-medium" id="headings">Headings</h3>

    <p>Headings include sufficient margins.</p>

    <div class="example">
      <h1 class="heading-xlarge">A <em class="highlight">48px</em> heading</h1>
      <h2 class="heading-large">A <em class="highlight">36px</em> heading</h2>
      <h3 class="heading-medium">A <em class="highlight">24px</em> heading</h3>
      <h4 class="heading-small">A <em class="highlight">19px</em> heading</h4>
    </div>

  </section>

  <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
&#x3C;h1 class=&#x22;heading-xlarge&#x22;&#x3E;A 48px heading&#x3C;/h1&#x3E;
&#x3C;h2 class=&#x22;heading-large&#x22;&#x3E;A 36px heading&#x3C;/h2&#x3E;
&#x3C;h3 class=&#x22;heading-medium&#x22;&#x3E;A 24px heading&#x3C;/h3&#x3E;
&#x3C;h4 class=&#x22;heading-small&#x22;&#x3E;A 19px heading&#x3C;/h4&#x3E;
  </code></pre></div>

  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>
