  <section aria-labelledby="inset-text">
  
    <h3 class="heading-medium" id="inset-text">Inset text</h3>
    
    <p class="text">Use bordered inset text to draw attention to important content on the page.</p>
    
    <div class="example">
      
      <div class="text">
        
        <div class="panel panel-border-wide">
          <p>It can take up to 8 weeks to register a lasting power of attorney if there are no mistakes in the application.</p>
        </div>
      
      </div>
              
    </div>
  
  </section>
  
  <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
&#x3C;div class=&#x22;panel panel-border-wide&#x22;&#x3E;
  &#x3C;p&#x3E;It can take up to 8 weeks to register a lasting power of attorney...&#x3C;/p&#x3E;
&#x3C;/div&#x3E;
  </code></pre></div>
  
  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>