  <section aria-labelledby="links">

    <h3 class="heading-medium" id="links">Links</h3>

    <p class="text">Links without surrounding text should not have a full stop at the end.</p>

    <div class="example">

      <div class="text">
        <p><a href="#">A 19px link without surrounding text</a></p>
        <p><a href="#">A 19px body copy link</a>. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</a></p>
        <p><a href="#" rel="external">A 19px body copy external link.</a> Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <a class="link-back" href="#">Back</a>
      </div>

    </div>

  </section>

  <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
  &#x3C;p&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;A 19px link without surrounding text&#x3C;/a&#x3E;&#x3C;/p&#x3E;

  &#x3C;p&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;A 19px body copy link&#x3C;/a&#x3E;. Fusce dapibus, tellus ac cursus...&#x3C;/a&#x3E;&#x3C;/p&#x3E;

  &#x3C;p&#x3E;&#x3C;a href=&#x22;#&#x22; rel=&#x22;external&#x22;&#x3E;A 19px body copy external link.&#x3C;/a&#x3E; Fusce dapibus...&#x3C;/p&#x3E;

  &#x3C;a class=&#x22;link-back&#x22; href=&#x22;#&#x22;&#x3E;Back&#x3C;/a&#x3E;
  </code></pre></div>

  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>
