  <section aria-labelledby="lists">
  
    <h3 class="heading-medium" id="lists">Lists</h3>
    
    <p class="text">List items start with a lowercase letter and have no full stop at the end.</p>
    
    <div class="example">
      
      <div class="text">
        
        <ul class="list list-bullet">
          <li>here is a bulleted list</li>
          <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor</li>
          <li>vestibulum id ligula porta felis euismod semper</li>
          <li>integer posuere erat a ante venenatis dapibus posuere velit aliquet</li>
        </ul>
        
        <ol class="list list-number">
          <li>here is a numbered list</li>
          <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor</li>
          <li>vestibulum id ligula porta felis euismod semper</li>
          <li>integer posuere erat <a href="#" rel="external">visit gov.uk</a></li>
        </ol>
        
        <ul class="list">
          <li><a href="#">Related link</a></li>
          <li><a href="#">Related link</a></li>
          <li><a href="#">Related link</a></li>
          <li><a class="bold-xsmall" href="#">More</a></li>
        </ul>
      
      </div>
              
    </div>
  
  </section>
  
  <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
&#x3C;ul class=&#x22;list list-bullet&#x22;&#x3E;
  &#x3C;li&#x3E;here is a bulleted list&#x3C;/li&#x3E;
  &#x3C;li&#x3E;vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor&#x3C;/li&#x3E;
  &#x3C;li&#x3E;vestibulum id ligula porta felis euismod semper&#x3C;/li&#x3E;
  &#x3C;li&#x3E;integer posuere erat a ante venenatis dapibus posuere velit aliquet&#x3C;/li&#x3E;
&#x3C;/ul&#x3E;

&#x3C;ol class=&#x22;list list-number&#x22;&#x3E;
  &#x3C;li&#x3E;here is a numbered list&#x3C;/li&#x3E;
  &#x3C;li&#x3E;vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor&#x3C;/li&#x3E;
  &#x3C;li&#x3E;vestibulum id ligula porta felis euismod semper&#x3C;/li&#x3E;
  &#x3C;li&#x3E;integer posuere erat &#x3C;a href=&#x22;#&#x22; rel=&#x22;external&#x22;&#x3E;visit gov.uk&#x3C;/a&#x3E;&#x3C;/li&#x3E;
&#x3C;/ol&#x3E;

&#x3C;ul class=&#x22;list&#x22;&#x3E;
  &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;Related link&#x3C;/a&#x3E;&#x3C;/li&#x3E;
  &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;Related link&#x3C;/a&#x3E;&#x3C;/li&#x3E;
  &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;Related link&#x3C;/a&#x3E;&#x3C;/li&#x3E;
  &#x3C;li&#x3E;&#x3C;a class=&#x22;bold-xsmall&#x22; href=&#x22;#&#x22;&#x3E;More&#x3C;/a&#x3E;&#x3C;/li&#x3E;
&#x3C;/ul&#x3E;
  </code></pre></div>
  
  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>