  <section aria-labelledby="paragraphs">

    <h3 class="heading-medium" id="paragraphs">Paragraphs</h3>

    <p class="text">There should only be one lead paragraph per page.</p>

    <div class="example">

      <div class="text">
        <p class="lede">A <em class="highlight">24px</em> lead paragraph, maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        <p>A <em class="highlight">19px</em> body copy paragraph, maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        <p class="font-xsmall">A <em class="highlight">16px</em> body copy paragraph, maecenas sed diam eget risus varius blandit sit amet non magna.</p>
      </div>

    </div>

  </section>

  <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
  &#x3C;p class=&#x22;lede&#x22;&#x3E;A 24px lead paragraph, maecenas sed diam eget risus...&#x3C;/p&#x3E;

  &#x3C;p&#x3E;A 19px body copy paragraph, maecenas sed diam eget risus...&#x3C;/p&#x3E;

  &#x3C;p class=&#x22;font-xsmall&#x22;&#x3E;A 16px body copy paragraph, maecenas sed diam eget risus...&#x3C;/p&#x3E;
  </code></pre></div>

  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>
