  <section aria-labelledby="progressive-disclosure">

    <h3 class="heading-medium" id="progressive-disclosure">Hidden text (progressive disclosure)</h3>

    <p class="text">Use this to make your page easier to scan, only showing contextual information when required. Click on &ldquo;Help with nationality&rdquo; to see how this works.</p>

    <div class="example">

      <div class="text">

        <details>

          <summary>Help with nationality</summary>

          <div class="panel panel-border-narrow">

            <p>If you&rsquo;re not sure about your nationality, try to find out from an official document like a passport or national ID card.</p>

            <p>We need to know your nationality so we can work out which elections you&rsquo;re entitled to vote in. If you can’t provide your nationality, you&rsquo;ll have to send copies of identity documents through the post.</p>

          </div>

        </details>

      </div>

    </div>

  </section>

  <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
  &#x3C;details&#x3E;

    &#x3C;summary&#x3E;Help with nationality&#x3C;/summary&#x3E;

    &#x3C;div class=&#x22;panel panel-border-narrow&#x22;&#x3E;

      &#x3C;p&#x3E;If you&#x2019;re not sure about your nationality, try to find out from an official...&#x3C;/p&#x3E;

      &#x3C;p&#x3E;We need to know your nationality so we can work out which elections...&#x3C;/p&#x3E;

    &#x3C;/div&#x3E;

  &#x3C;/details&#x3E;
  </code></pre></div>

  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>
