  <section aria-labelledby="titles">

    <h3 class="heading-medium" id="titles">Titles</h3>

    <p class="text">Titles have no margins and can be used for visual scale.</p>

    <div class="example">
      <h3 class="bold-xlarge">A <em class="highlight">48px</em> bold title</h3><br>
      <h3 class="bold-large">A <em class="highlight">36px</em> bold title</h3><br>
      <h3 class="bold-medium">A <em class="highlight">24px</em> bold title</h3><br>
      <h3 class="bold-small">A <em class="highlight">19px</em> bold title</h3>
    </div>

  <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
&#x3C;h1 class=&#x22;bold-xlarge&#x22;&#x3E;A 48px bold title&#x3C;/h1&#x3E;
&#x3C;h2 class=&#x22;bold-large&#x22;&#x3E;A 36px bold title&#x3C;/h2&#x3E;
&#x3C;h3 class=&#x22;bold-medium&#x22;&#x3E;A 24px bold title&#x3C;/h3&#x3E;
&#x3C;h4 class=&#x22;bold-small&#x22;&#x3E;A 19px bold title&#x3C;/h4&#x3E;
  </code></pre></div>

    <div class="example">
      <h3 class="font-xlarge">A <em class="highlight">48px</em> title</h3><br>
      <h3 class="font-large">A <em class="highlight">36px</em> title</h3><br>
      <h3 class="font-medium">A <em class="highlight">24px</em> title</h3><br>
      <h3 class="font-small">A <em class="highlight">19px</em> title</h3>
    </div>

  <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
&#x3C;h1 class=&#x22;font-xlarge&#x22;&#x3E;A 48px title&#x3C;/h1&#x3E;
&#x3C;h2 class=&#x22;font-large&#x22;&#x3E;A 36px title&#x3C;/h2&#x3E;
&#x3C;h3 class=&#x22;font-medium&#x22;&#x3E;A 24px title&#x3C;/h3&#x3E;
&#x3C;h4 class=&#x22;font-small&#x22;&#x3E;A 19px title&#x3C;/h4&#x3E;
  </code></pre></div>

  </section>

  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>
