  <nav class="toc" id="toc">
    
    <div class="panel panel-border-narrow">
    
      <h2 class="heading-small">Contents</h2>
      
      <ul class="list">
        <li><a href="#headings">Headings</a></li>
        <li><a href="#titles">Titles</a></li>
        <li><a href="#paragraphs">Paragraphs</a></li>
        <li><a href="#links">Links</a></li>
        <li><a href="#lists">Lists</a></li>
        <li><a href="#inset-text">Inset text</a></li>
        <li><a href="#legal-text">Legal text</a></li>
        <li><a href="#progressive-disclosure">Progressive disclosure</a></li>
      </ul>
    
    </div>
    
  </nav>