  <section aria-labelledby="button-text">
  
    <h3 class="heading-medium" id="button-text">Button text</h3>
    
    <p class="text">Button text should be short and describe the action the button performs.</p>
    
    <div class="example">
      <input class="button" type="submit" value="Save and continue">
    </div>
  
  </section>
  
  <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
&#x3C;input class=&#x22;button&#x22; type=&#x22;submit&#x22; value=&#x22;Save and continue&#x22;&#x3E;

&#x3C;button class=&#x22;button&#x22; type=&#x22;button&#x22;&#x3E;Save and continue&#x3C;/button&#x3E;

&#x3C;a class=&#x22;button&#x22; href=&#x22;#&#x22; role=&#x22;button&#x22;&#x3E;Save and continue&#x3C;/a&#x3E;
  </code></pre></div>
  
  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>