  <section aria-labelledby="button-variations">
  
    <h3 class="heading-medium" id="button-variations">Button variations</h3>
    
    <div class="example">
      
      <form class="form">
        <input class="button" type="submit" value="Primary button">
      </form>
      
    </div>
    
  <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
&#x3C;input class=&#x22;button&#x22; type=&#x22;submit&#x22; value=&#x22;Primary button&#x22;&#x3E;
  </code></pre></div>
  
    <div class="panel panel-border-wide">
      <p>The secondary button should be used sparingly.</p>
    </div>
    
    <div class="example">
      
      <form class="form">
        <input class="button button-secondary" type="submit" value="Secondary button">
      </form>
      
    </div>
    
  <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
&#x3C;input class=&#x22;button button-secondary&#x22; type=&#x22;submit&#x22; value=&#x22;Secondary button&#x22;&#x3E;
  </code></pre></div>
    
    <div class="panel panel-border-wide">
      <p>The tertiary button is used only by <b>IdAM</b>.</p>
    </div>
    
    <div class="example">
      
      <form class="form">
        
        <input class="button button-tertiary" type="submit" value="Tertiary button">
        
      </form>
      
    </div>
  
  </section>
  
  <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
&#x3C;input class=&#x22;button button-tertiary&#x22; type=&#x22;submit&#x22; value=&#x22;Tertiary button&#x22;&#x3E;
  </code></pre></div>
  
  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>