  <section aria-labelledby="start-now-button">
  
    <h3 class="heading-medium" id="start-now-button">Start now button</h3>
    
    <p class="text">Launch your service with a Start now button.</p>
    
    <div class="example">
      <a class="button button-start" href="#" role="button">Start now</a>
    </div>
  
  </section>
  
  <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
&#x3C;a class=&#x22;button button-start&#x22; href=&#x22;#&#x22; role=&#x22;button&#x22;&#x3E;Start now&#x3C;/a&#x3E;
  </code></pre></div>
  
  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>