  <section aria-labelledby="case-markers">

    <h3 class="heading-medium" id="case-markers">Case markers</h3>

    <p class="text">Case markers are also known as monitoring codes.</p>

    <div class="example">

      <div class="grid-row">

        <div class="column-third">
          <span class="case-marker">Domestic violence</span>
        </div>

      </div>

    </div>

  <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
  &#x3C;span class=&#x22;case-marker&#x22;&#x3E;Domestic violence&#x3C;/span&#x3E;
  </code></pre></div>

  <p>Case markers in the right column.</p>

  <div class="example">

    <div class="grid-row">

      <div class="column-third">

        <div class="related">

          <div class="related-section">

            <h3 class="related-heading">Case markers</h3>

            <ul class="list list-inline">
              <li><span class="case-marker">Domestic violence</span></li>
              <li><span class="case-marker">Offender</span></li>
            </ul>

          </div>

        </div>

      </div>

    </div>

  </div>

  <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
  &#x3C;div class=&#x22;related&#x22;&#x3E;

    &#x3C;div class=&#x22;related-section&#x22;&#x3E;

      &#x3C;h3 class=&#x22;related-heading&#x22;&#x3E;Case markers&#x3C;/h3&#x3E;

      &#x3C;ul class=&#x22;list list-inline&#x22;&#x3E;
        &#x3C;li&#x3E;&#x3C;span class=&#x22;case-marker&#x22;&#x3E;Domestic violence&#x3C;/span&#x3E;&#x3C;/li&#x3E;
        &#x3C;li&#x3E;&#x3C;span class=&#x22;case-marker&#x22;&#x3E;Offender&#x3C;/span&#x3E;&#x3C;/li&#x3E;
      &#x3C;/ul&#x3E;

    &#x3C;/div&#x3E;

  &#x3C;/div&#x3E;
  </code></pre></div>

  </section>

  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>
