  <section aria-labelledby="collapsibles">

    <h3 class="heading-medium" id="collapsibles">Collapsibles</h3>

    <div class="text">

      <p>Adding an &ldquo;<b>is-open</b>&rdquo; class triggers the show state by default which may be useful.</p>

      <div class="panel panel-border-wide">
        <p><abbr title="Accessible Rich Internet Applications">ARIA</abbr> attributes are being added and switched using JavaScript.</p>
      </div>

    </div>

    <div class="example">

      <div class="collapsibles">

        <!-- collapsible item -->
        <div class="collapsibles-item is-open">

          <div class="collapsibles-header">
            <button class="collapsibles-button" type="button">Show</button>
            <h3 class="heading-medium">This headblock is always visible</h3>
          </div>

          <div class="collapsibles-content">
            <p>Content below the headblock can be hidden. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim quis nostrud ullamco laboris nisi ut aliquip ex ea aute irure dolor in invelit esse cillum dolore.</p>
          </div>

        </div>

        <!-- collapsible item -->
        <div class="collapsibles-item">

          <div class="collapsibles-header">
            <button class="collapsibles-button" type="button">Show</button>
            <h3 class="heading-medium">This headblock is always visible</h3>
          </div>

          <div class="collapsibles-content">
            <p>Content below the headblock can be hidden. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim quis nostrud ullamco laboris nisi ut aliquip ex ea aute irure dolor in invelit esse cillum dolore.</p>
          </div>

        </div>

      </div>

    </div>

    <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
  &#x3C;div class=&#x22;collapsibles&#x22;&#x3E;

    &#x3C;!-- collapsible item --&#x3E;
    &#x3C;div class=&#x22;collapsibles-item is-open&#x22;&#x3E;

      &#x3C;div class=&#x22;collapsibles-header&#x22;&#x3E;
        &#x3C;button class=&#x22;collapsibles-button&#x22; type=&#x22;button&#x22;&#x3E;Show&#x3C;/button&#x3E;
        &#x3C;h3 class=&#x22;heading-medium&#x22;&#x3E;This headblock is always visible&#x3C;/h3&#x3E;
      &#x3C;/div&#x3E;

      &#x3C;div class=&#x22;collapsibles-content&#x22;&#x3E;
        &#x3C;p&#x3E;Content below the headblock can be hidden. Lorem ipsum dolor sit amet...&#x3C;/p&#x3E;
      &#x3C;/div&#x3E;

    &#x3C;/div&#x3E;

    &#x3C;!-- collapsible item --&#x3E;
    &#x3C;div class=&#x22;collapsibles-item&#x22;&#x3E;

      &#x3C;div class=&#x22;collapsibles-header&#x22;&#x3E;
        &#x3C;button class=&#x22;collapsibles-button&#x22; type=&#x22;button&#x22;&#x3E;Show&#x3C;/button&#x3E;
        &#x3C;h3 class=&#x22;heading-medium&#x22;&#x3E;This headblock is always visible&#x3C;/h3&#x3E;
      &#x3C;/div&#x3E;

      &#x3C;div class=&#x22;collapsibles-content&#x22;&#x3E;
        &#x3C;p&#x3E;Content below the headblock can be hidden. Lorem ipsum dolor sit amet...&#x3C;/p&#x3E;
      &#x3C;/div&#x3E;

    &#x3C;/div&#x3E;

  &#x3C;/div&#x3E;
    </code></pre></div>

  </section>

  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>
