  <section aria-labelledby="digit-box">
  
    <h3 class="heading-medium" id="digit-box">Digit box</h3>
    
    <div class="example">
 
      <div class="digit-box">
        <span class="digit-box-number">4637</span>
      </div>
      
      <br><br>
 
      <div class="digit-box">
        <span class="digit-box-number">07700900753</span>
      </div>
 
    </div>
  
  </section>
  
  <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
  &#x3C;div class=&#x22;digit-box&#x22;&#x3E;
    &#x3C;span class=&#x22;digit-box-number&#x22;&#x3E;4637&#x3C;/span&#x3E;
  &#x3C;/div&#x3E;
  
  &#x3C;div class=&#x22;digit-box&#x22;&#x3E;
    &#x3C;span class=&#x22;digit-box-number&#x22;&#x3E;07700900753&#x3C;/span&#x3E;
  &#x3C;/div&#x3E;
  </code></pre></div>
  
  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>