  <section aria-labelledby="personal-details">
  
    <h3 class="heading-medium" id="personal-details">Personal details</h3>
    
    <div class="example">
 
      <div class="personal-details">
        <h3 class="bold-large">Peter JAMES</h3>        
        <div>30 years old</div>
        <div>Born 8 June 1985</div>
        <div>British</div>
        <div>Self&ndash;defined as White British</div>
        <div>14 Tottenham Court Road, London W1T 1JY</div>
      </div>
 
    </div>
  
  </section>
  
  <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
  &#x3C;div class=&#x22;personal-details&#x22;&#x3E;
    &#x3C;h3 class=&#x22;bold-large&#x22;&#x3E;Peter JAMES&#x3C;/h3&#x3E;        
    &#x3C;div&#x3E;30 years old&#x3C;/div&#x3E;
    &#x3C;div&#x3E;Born 8 June 1985&#x3C;/div&#x3E;
    &#x3C;div&#x3E;British&#x3C;/div&#x3E;
    &#x3C;div&#x3E;Self-defined as White British&#x3C;/div&#x3E;
    &#x3C;div&#x3E;14 Tottenham Court Road, London W1T 1JY&#x3C;/div&#x3E;
  &#x3C;/div&#x3E;
  </code></pre></div>
  
  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>