  <section aria-labelledby="progress-list">
  
    <h3 class="heading-medium" id="progress-list">Progress list</h3>
    
    <div class="example">
 
      <div class="grid-row">
 
        <div class="column-one-third">
   
          <ol class="progress-list">
            <li class="is-active">Step one <span class="progress-list-status">incomplete</span></li>
            <li>Step two</li>
            <li>Step three</li>
            <li>Step four</li>
          </ol>
        
        </div>
        
        <div class="column-one-third">
   
          <ol class="progress-list">
            <li>Step one <span class="progress-list-status"><i class="icon icon-complete"></i> complete</span></li>
            <li class="is-active">Step two <span class="progress-list-status">incomplete</span></li>
            <li>Step three</li>
            <li>Step four</li>
          </ol>
        
        </div>
        
        <div class="column-one-third">
   
          <ol class="progress-list">
            <li>Step one <span class="progress-list-status"><i class="icon icon-complete"></i> complete</span></li>
            <li>Step two <span class="progress-list-status"><i class="icon icon-complete"></i> complete</span></li>
            <li class="is-active">Step three <span class="progress-list-status">incomplete</span></li>
            <li>Step four</li>
          </ol>
        
        </div>
      
      </div>
 
    </div>
  
  </section>
  
  <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
  &#x3C;ol class=&#x22;progress-list&#x22;&#x3E;
          
    &#x3C;li&#x3E;Step one
      &#x3C;span class=&#x22;progress-list-status&#x22;&#x3E;&#x3C;i class=&#x22;icon icon-complete&#x22;&#x3E;&#x3C;/i&#x3E; complete&#x3C;/span&#x3E;
    &#x3C;/li&#x3E;
    
    &#x3C;li&#x3E;Step two
      &#x3C;span class=&#x22;progress-list-status&#x22;&#x3E;&#x3C;i class=&#x22;icon icon-complete&#x22;&#x3E;&#x3C;/i&#x3E; complete&#x3C;/span&#x3E;
    &#x3C;/li&#x3E;
    
    &#x3C;li class=&#x22;is-active&#x22;&#x3E;Step three
      &#x3C;span class=&#x22;progress-list-status&#x22;&#x3E;incomplete&#x3C;/span&#x3E;
    &#x3C;/li&#x3E;
    
    &#x3C;li&#x3E;Step four&#x3C;/li&#x3E;
    
  &#x3C;/ol&#x3E;
  </code></pre></div>
  
  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>