  <section aria-labelledby="summary-item">
  
    <h3 class="heading-medium" id="summary-item">Summary item</h3>
    
    <div class="example"> 
    
      <div class="grid-row">
        
        <div class="column-third">
          
          <div class="summary-item">
            <span class="summary-item-number">8</span>
            <span class="summary-item-label">statements</span>        
          </div>
          
        </div>
        
        <div class="column-third">
          
          <div class="summary-item">
            <span class="summary-item-number">44</span>
            <span class="summary-item-label">exhibits</span>        
          </div>
          
        </div>
        
        <div class="column-third">
          
          <div class="summary-item">
            <span class="summary-item-number">13</span>
            <span class="summary-item-label">additional documents</span>     
          </div>
          
        </div>
        
      </div>
 
    </div>
    
  <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
  &#x3C;div class=&#x22;summary-item&#x22;&#x3E;
    &#x3C;span class=&#x22;summary-item-number&#x22;&#x3E;8&#x3C;/span&#x3E;
    &#x3C;span class=&#x22;summary-item-label&#x22;&#x3E;statements&#x3C;/span&#x3E;     
  &#x3C;/div&#x3E;
  </code></pre></div>
    
    <p>Summary items inline</p>
    
    <div class="example"> 
    
      <div class="grid-row">
        
        <div class="column-third">
          
          <div class="summary-item summary-item-inline">
            <span class="summary-item-number">8</span>
            <span class="summary-item-label">statements</span>       
          </div>
          
        </div>
        
        <div class="column-third">
          
          <div class="summary-item summary-item-inline">
            <span class="summary-item-number">44</span>
            <span class="summary-item-label">exhibits</span>      
          </div>
          
        </div>
        
        <div class="column-third">
          
          <div class="summary-item summary-item-inline">
            <span class="summary-item-number">13</span>
            <span class="summary-item-label">additional documents</span>     
          </div>
          
        </div>
        
      </div>
 
    </div>
    
  <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
  &#x3C;div class=&#x22;summary-item summary-item-inine&#x22;&#x3E;
    &#x3C;span class=&#x22;summary-item-number&#x22;&#x3E;8&#x3C;/span&#x3E;
    &#x3C;span class=&#x22;summary-item-label&#x22;&#x3E;statements&#x3C;/span&#x3E;     
  &#x3C;/div&#x3E;
  </code></pre></div>
    
    <p>Summary items as links</p>
    
    <div class="example"> 
    
      <div class="grid-row">
        
        <div class="column-third">
          
          <div class="summary-item">
            <a href="#">
              <span class="summary-item-number">8</span>
              <span class="summary-item-label">statements</span>     
            </a>   
          </div>
          
        </div>
        
        <div class="column-third">
          
          <div class="summary-item">
            <a href="#">
              <span class="summary-item-number">44</span>
              <span class="summary-item-label">exhibits</span> 
            </a>       
          </div>
          
        </div>
        
        <div class="column-third">
          
          <div class="summary-item">
            <a href="#">
              <span class="summary-item-number">13</span>
              <span class="summary-item-label">additional documents</span>     
            </a>
          </div>
          
        </div>
        
      </div>
 
    </div>
    
  <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
  &#x3C;div class=&#x22;summary-item&#x22;&#x3E;
    &#x3C;a href=&#x22;#&#x22;&#x3E;
      &#x3C;span class=&#x22;summary-item-number&#x22;&#x3E;8&#x3C;/span&#x3E;
      &#x3C;span class=&#x22;summary-item-label&#x22;&#x3E;statements&#x3C;/span&#x3E;     
    &#x3C;/a&#x3E;   
  &#x3C;/div&#x3E;
  
  OR
  
  &#x3C;div class=&#x22;summary-item summary-item-inline&#x22;&#x3E;
    &#x3C;a href=&#x22;#&#x22;&#x3E;
      &#x3C;span class=&#x22;summary-item-number&#x22;&#x3E;8&#x3C;/span&#x3E;
      &#x3C;span class=&#x22;summary-item-label&#x22;&#x3E;statements&#x3C;/span&#x3E;     
    &#x3C;/a&#x3E;   
  &#x3C;/div&#x3E;
  </code></pre></div>
  
  </section>
  
  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>