  <section aria-labelledby="summary-item">

    <h3 class="heading-medium" id="summary-item">Summary item</h3>

    <p class="text">Summary items can be displayed in any combination and order as needed. Text below numbers can be bold or light.</p>

    <div class="panel panel-border-wide">
      <p>Never combine the small and large variants.</p>
    </div>

    <div class="example">

      <div class="grid-row">

        <div class="column-third">

          <div class="summary-item">
            <a href="#">
              <span class="summary-item-number bold-xlarge">18</span>
              <span class="summary-item-label bold-xsmall">statements</span>
            </a>
          </div>

        </div>

        <div class="column-third">

          <div class="summary-item">
            <a href="#">
              <span class="summary-item-number bold-xlarge">273</span>
              <span class="summary-item-label bold-xsmall">exhibits</span>
            </a>
          </div>

        </div>

        <div class="column-third">

          <div class="summary-item">
            <span class="summary-item-number bold-xlarge">13</span>
            <span class="summary-item-label bold-xsmall">additional documents</span>
          </div>

        </div>

      </div>

    </div>

  <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
  &#x3C;div class=&#x22;summary-item&#x22;&#x3E;
    &#x3C;a href=&#x22;#&#x22;&#x3E;
      &#x3C;span class=&#x22;summary-item-number bold-xlarge&#x22;&#x3E;18&#x3C;/span&#x3E;
      &#x3C;span class=&#x22;summary-item-label bold-xsmall&#x22;&#x3E;statements&#x3C;/span&#x3E;
    &#x3C;/a&#x3E;
  &#x3C;/div&#x3E;

  &#x3C;div class=&#x22;summary-item&#x22;&#x3E;
    &#x3C;a href=&#x22;#&#x22;&#x3E;
      &#x3C;span class=&#x22;summary-item-number bold-xlarge&#x22;&#x3E;273&#x3C;/span&#x3E;
      &#x3C;span class=&#x22;summary-item-label bold-xsmall&#x22;&#x3E;exhibits&#x3C;/span&#x3E;
    &#x3C;/a&#x3E;
  &#x3C;/div&#x3E;

  &#x3C;div class=&#x22;summary-item&#x22;&#x3E;
    &#x3C;span class=&#x22;summary-item-number bold-xlarge&#x22;&#x3E;13&#x3C;/span&#x3E;
    &#x3C;span class=&#x22;summary-item-label bold-xsmall&#x22;&#x3E;additional documents&#x3C;/span&#x3E;
  &#x3C;/div&#x3E;
  </code></pre></div>

    <p>Summary items inline</p>

    <div class="example">

      <div class="grid-row">

        <div class="column-third">

          <div class="summary-item summary-item-inline">
            <span class="summary-item-number bold-xlarge">18</span>
            <span class="summary-item-label bold-xsmall">statements</span>
          </div>

        </div>

        <div class="column-third">

          <div class="summary-item summary-item-inline">
            <span class="summary-item-number bold-xlarge">273</span>
            <span class="summary-item-label bold-xsmall">exhibits</span>
          </div>

        </div>

        <div class="column-third">

          <div class="summary-item summary-item-inline">
            <span class="summary-item-number bold-xlarge">13</span>
            <span class="summary-item-label bold-xsmall">additional documents</span>
          </div>

        </div>

      </div>

    </div>

  <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
  &#x3C;div class=&#x22;summary-item summary-item-inline&#x22;&#x3E;
    &#x3C;span class=&#x22;summary-item-number bold-xlarge&#x22;&#x3E;18&#x3C;/span&#x3E;
    &#x3C;span class=&#x22;summary-item-label bold-xsmall&#x22;&#x3E;statements&#x3C;/span&#x3E;
  &#x3C;/div&#x3E;

  &#x3C;div class=&#x22;summary-item summary-item-inline&#x22;&#x3E;
    &#x3C;span class=&#x22;summary-item-number bold-xlarge&#x22;&#x3E;273&#x3C;/span&#x3E;
    &#x3C;span class=&#x22;summary-item-label bold-xsmall&#x22;&#x3E;exhibits&#x3C;/span&#x3E;
  &#x3C;/div&#x3E;

  &#x3C;div class=&#x22;summary-item summary-item-inline&#x22;&#x3E;
    &#x3C;span class=&#x22;summary-item-number bold-xlarge&#x22;&#x3E;13&#x3C;/span&#x3E;
    &#x3C;span class=&#x22;summary-item-label bold-xsmall&#x22;&#x3E;additional documents&#x3C;/span&#x3E;
  &#x3C;/div&#x3E;
  </code></pre></div>

    <p>Summary items as links and bigger variants</p>

    <div class="example">

      <div class="grid-row">

        <div class="column-third">

          <div class="summary-item">
            <a href="#">
              <span class="summary-item-number bold-xxlarge">4</span>
              <span class="summary-item-label font-xsmall">CSV errors in last upload</span>
            </a>
          </div>

        </div>

        <div class="column-third">

          <div class="summary-item">
            <a href="#">
              <span class="summary-item-number bold-xxlarge">3</span>
              <span class="summary-item-label font-xsmall">document errors in last upload</span>
            </a>
          </div>

        </div>

        <div class="column-third">

          <div class="summary-item">
            <a href="#">
              <span class="summary-item-number bold-xxlarge">5</span>
              <span class="summary-item-label font-xsmall">cases missing SJP notices</span>
            </a>
          </div>

        </div>

      </div>

    </div>

  <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
  &#x3C;div class=&#x22;summary-item&#x22;&#x3E;
    &#x3C;a href=&#x22;#&#x22;&#x3E;
      &#x3C;span class=&#x22;summary-item-number bold-xxlarge&#x22;&#x3E;4&#x3C;/span&#x3E;
      &#x3C;span class=&#x22;summary-item-label font-xsmall&#x22;&#x3E;CSV errors in last upload&#x3C;/span&#x3E;
    &#x3C;/a&#x3E;
  &#x3C;/div&#x3E;

  &#x3C;div class=&#x22;summary-item&#x22;&#x3E;
    &#x3C;a href=&#x22;#&#x22;&#x3E;
      &#x3C;span class=&#x22;summary-item-number bold-xxlarge&#x22;&#x3E;3&#x3C;/span&#x3E;
      &#x3C;span class=&#x22;summary-item-label font-xsmall&#x22;&#x3E;document errors in last upload&#x3C;/span&#x3E;
    &#x3C;/a&#x3E;
  &#x3C;/div&#x3E;

  &#x3C;div class=&#x22;summary-item&#x22;&#x3E;
    &#x3C;a href=&#x22;#&#x22;&#x3E;
      &#x3C;span class=&#x22;summary-item-number bold-xxlarge&#x22;&#x3E;5&#x3C;/span&#x3E;
      &#x3C;span class=&#x22;summary-item-label font-xsmall&#x22;&#x3E;cases missing SJP notices&#x3C;/span&#x3E;
    &#x3C;/a&#x3E;
  &#x3C;/div&#x3E;
  </code></pre></div>

  </section>

  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>
