  <nav class="toc" id="toc">
    
    <div class="panel panel-border-narrow">
    
      <h2 class="heading-small">Contents</h2>
      
      <ul class="list">
        <li><a href="#contact-info">Contact info</a></li>
        <li><a href="#digit-box">Digit box</a></li>
        <li><a href="#personal-details">Personal details</a></li>
        <li><a href="#progress-list">Progress list</a></li>
        <li><a href="#summary-item">Summary item</a></li>
        <li><a href="#tabs-pane">Tabs pane</a></li>
      </ul>
    
    </div>
    
  </nav>