  <section aria-labelledby="thirds">

    <h3 class="heading-medium" id="thirds">Thirds</h3>

    <div class="example example-grid">

      <div class="grid-row">

        <div class="column-third">
          <p>Content</p>
        </div>

        <div class="column-third">
          <p>Content</p>
        </div>

        <div class="column-third">
          <p>Content</p>
        </div>

      </div>

    </div>

  </section>

  <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
&#x3C;div class=&#x22;grid-row&#x22;&#x3E;

  &#x3C;div class=&#x22;column-third&#x22;&#x3E;
    &#x3C;p&#x3E;Content&#x3C;/p&#x3E;
  &#x3C;/div&#x3E;

  &#x3C;div class=&#x22;column-third&#x22;&#x3E;
    &#x3C;p&#x3E;Content&#x3C;/p&#x3E;
  &#x3C;/div&#x3E;

  &#x3C;div class=&#x22;column-third&#x22;&#x3E;
    &#x3C;p&#x3E;Content&#x3C;/p&#x3E;
  &#x3C;/div&#x3E;

&#x3C;/div&#x3E;
  </code></pre></div>

  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>
