  <nav class="toc" id="toc">

    <div class="panel panel-border-narrow">

      <h2 class="heading-small">Contents</h2>

      <ul class="list">
        <li><a href="#halves">Halves</a></li>
        <li><a href="#thirds">Thirds</a></li>
        <li><a href="#two-thirds-one-third">Two thirds / One third</a></li>
        <li><a href="#one-third-two-thirds">One third / Two thirds</a></li>
        <li><a href="#quarters">Quarters</a></li>
      </ul>

    </div>

  </nav>
