  <section aria-labelledby="document-downloads">

    <h3 class="heading-medium" id="document-downloads">Document downloads</h3>

    <div class="panel panel-border-wide text">
      <p>I&rsquo;ve opted for a non CSS3 Box Shadow approach to ensure consistent look and feel across all browsers.</p>
    </div>

    <p>Document download with thumbnail</p>

    <div class="example">

      <!-- document download -->
      <div class="document">
        <div class="document-thumbnail"></div>
        <div class="document-content">
          <p class="document-title"><a href="#">Statement 1 from Linda THOMAS</a></p>
          <div class="document-meta">
            <span class="document-meta-taken">Taken: <time datetime="2016-04-13">13 April 2016</time></span>
            <span class="document-meta-details"><abbr title="Portable Document Format">PDF</abbr>, 715kb, 18 pages</span>
          </div>
        </div>
      </div>
      <!-- end -->

    </div>

    <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
  &#x3C;div class=&#x22;document&#x22;&#x3E;

    &#x3C;div class=&#x22;document-thumbnail&#x22;&#x3E;&#x3C;/div&#x3E;

    &#x3C;div class=&#x22;document-content&#x22;&#x3E;

      &#x3C;p class=&#x22;document-title&#x22;&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;Statement 1 from Linda THOMAS&#x3C;/a&#x3E;&#x3C;/p&#x3E;

      &#x3C;div class=&#x22;document-meta&#x22;&#x3E;

        &#x3C;span class=&#x22;document-meta-taken&#x22;&#x3E;Taken:
          &#x3C;time datetime=&#x22;2016-04-13&#x22;&#x3E;13 April 2016&#x3C;/time&#x3E;
        &#x3C;/span&#x3E;

        &#x3C;span class=&#x22;document-meta-details&#x22;&#x3E;
          &#x3C;abbr title=&#x22;Portable Document Format&#x22;&#x3E;PDF&#x3C;/abbr&#x3E;, 715kb, 18 pages
        &#x3C;/span&#x3E;

      &#x3C;/div&#x3E;

    &#x3C;/div&#x3E;

  &#x3C;/div&#x3E;
    </code></pre></div>

    <p>Document download with icon</p>

    <div class="example">

      <!-- document download -->
      <div class="document">
        <div class="document-thumbnail"></div>
        <div class="document-content">
          <p class="document-title"><a href="#">Statement 1 from Linda THOMAS</a></p>
          <div class="document-meta">
            <span class="document-meta-taken">Taken: <time datetime="2016-04-13">13 April 2016</time></span>
            <span class="document-meta-details"><abbr title="Portable Document Format">PDF</abbr>, 715kb, 18 pages</span>
          </div>
        </div>
      </div>
      <!-- end -->

    </div>

    <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
  &#x3C;div class=&#x22;document&#x22;&#x3E;

    &#x3C;div class=&#x22;document-thumbnail&#x22;&#x3E;&#x3C;/div&#x3E;

    &#x3C;div class=&#x22;document-content&#x22;&#x3E;

      &#x3C;p class=&#x22;document-title&#x22;&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;Statement 1 from Linda THOMAS&#x3C;/a&#x3E;&#x3C;/p&#x3E;

      &#x3C;div class=&#x22;document-meta&#x22;&#x3E;

        &#x3C;span class=&#x22;document-meta-taken&#x22;&#x3E;Taken:
          &#x3C;time datetime=&#x22;2016-04-13&#x22;&#x3E;13 April 2016&#x3C;/time&#x3E;
        &#x3C;/span&#x3E;

        &#x3C;span class=&#x22;document-meta-details&#x22;&#x3E;
          &#x3C;abbr title=&#x22;Portable Document Format&#x22;&#x3E;PDF&#x3C;/abbr&#x3E;, 715kb, 18 pages
        &#x3C;/span&#x3E;

      &#x3C;/div&#x3E;

    &#x3C;/div&#x3E;

  &#x3C;/div&#x3E;
    </code></pre></div>

    <p>Document download with icon (small variation)</p>

    <div class="example">

      <!-- document download -->
      <div class="document document-small">
        <i class="icon icon-file-download"></i>
        <div class="document-content">
          <p class="document-title"><a href="#">This is a document title</a></p>
          <div class="document-meta">
            <span class="document-meta-details"><abbr title="Portable Document Format">PDF</abbr>, 715kb, 18 pages</span>
          </div>
        </div>
      </div>
      <!-- end -->

    </div>

    <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
  &#x3C;div class=&#x22;document document-small&#x22;&#x3E;

    &#x3C;i class=&#x22;icon icon-file-download&#x22;&#x3E;&#x3C;/i&#x3E;

    &#x3C;div class=&#x22;document-content&#x22;&#x3E;

      &#x3C;p class=&#x22;document-title&#x22;&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;This is a document title&#x3C;/a&#x3E;&#x3C;/p&#x3E;

      &#x3C;div class=&#x22;document-meta&#x22;&#x3E;
        &#x3C;span class=&#x22;document-meta-details&#x22;&#x3E;
          &#x3C;abbr title=&#x22;Portable Document Format&#x22;&#x3E;PDF&#x3C;/abbr&#x3E;, 715kb, 18 pages
        &#x3C;/span&#x3E;
      &#x3C;/div&#x3E;

    &#x3C;/div&#x3E;

  &#x3C;/div&#x3E;
    </code></pre></div>

  </section>

  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>
