  <section aria-labelledby="image">
  
    <h3 class="heading-medium" id="image">Image</h3>
    
    <p>Without a title.</p>
    
    <div class="example">
            
      <figure class="media-image">
        
        <div class="media-image-picture">
          <img src="//placehold.it/550x366/DEE0E2/6F777B" alt="*">
        </div>
      
        <div class="media-image-meta">
          <ul>
            <li><span class="bold-xsmall">Date taken:</span> <time datetime="2016-06-11">11 June 2016</time></li>
            <li><a href="#">Download image</a></li>
          </ul>          
        </div>
      
      </figure>
      
    </div>
    
    
    <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
  &#x3C;figure class=&#x22;media-image&#x22;&#x3E;
          
    &#x3C;div class=&#x22;media-image-picture&#x22;&#x3E;
      &#x3C;img src=&#x22;//placehold.it/550x366/DEE0E2/6F777B&#x22; alt=&#x22;*&#x22;&#x3E;
    &#x3C;/div&#x3E;
  
    &#x3C;div class=&#x22;media-image-meta&#x22;&#x3E;
      &#x3C;ul&#x3E;
        &#x3C;li&#x3E;
          &#x3C;span class=&#x22;bold-xsmall&#x22;&#x3E;Date taken:&#x3C;/span&#x3E; 
          &#x3C;time datetime=&#x22;2016-06-11&#x22;&#x3E;11 June 2016&#x3C;/time&#x3E;
        &#x3C;/li&#x3E;
        &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;Download image&#x3C;/a&#x3E;&#x3C;/li&#x3E;
      &#x3C;/ul&#x3E;          
    &#x3C;/div&#x3E;
  
  &#x3C;/figure&#x3E;
    </code></pre></div>
    
    
    <p>With a title.</p>
    
    <div class="example">      
      
     <figure class="media-image">
      
        <figcaption class="media-image-title">
          <span class="bold-large">Image title</span>
        </figcaption>
        
        <div class="media-image-picture">
          <img src="//placehold.it/550x366/DEE0E2/6F777B" alt="*">
        </div>
      
        <div class="media-image-meta">
          <ul>
            <li><span class="bold-xsmall">Date taken:</span> <time datetime="2016-08-12">12 August 2016</time></li>
            <li>JPG 326kb</li>
            <li><a href="#">Download image</a></li>
          </ul>          
        </div>
      
      </figure>
      
    </div>
    
    
    <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
  &#x3C;figure class=&#x22;media-image&#x22;&#x3E;
  
    &#x3C;figcaption class=&#x22;media-image-title&#x22;&#x3E;
      &#x3C;span class=&#x22;bold-large&#x22;&#x3E;Image title&#x3C;/span&#x3E;
    &#x3C;/figcaption&#x3E;
    
    &#x3C;div class=&#x22;media-image-picture&#x22;&#x3E;
      &#x3C;img src=&#x22;//placehold.it/550x366/DEE0E2/6F777B&#x22; alt=&#x22;*&#x22;&#x3E;
    &#x3C;/div&#x3E;
  
    &#x3C;div class=&#x22;media-image-meta&#x22;&#x3E;
      &#x3C;ul&#x3E;
        &#x3C;li&#x3E;
          &#x3C;span class=&#x22;bold-xsmall&#x22;&#x3E;Date taken:&#x3C;/span&#x3E; 
          &#x3C;time datetime=&#x22;2016-08-12&#x22;&#x3E;12 August 2016&#x3C;/time&#x3E;
        &#x3C;/li&#x3E;
        &#x3C;li&#x3E;JPG 326kb&#x3C;/li&#x3E;
        &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;Download image&#x3C;/a&#x3E;&#x3C;/li&#x3E;
      &#x3C;/ul&#x3E;          
    &#x3C;/div&#x3E;
  
  &#x3C;/figure&#x3E;
    </code></pre></div> 
     
    
  </section>
  
  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>