  <nav class="toc" id="toc">

    <div class="panel panel-border-narrow">

      <h2 class="heading-small">Contents</h2>

      <ul class="list">
        <li><a href="#image">Image</a></li>
        <li><a href="#video">Video</a></li>
        <li><a href="#documents">Documents</a></li>
      </ul>

    </div>

  </nav>
