  <section aria-labelledby="labels">
  
    <h3 class="heading-medium" id="labels">Labels</h3>
    
    <ul class="text list list-bullet">
      <li>all forms should be given labels</li>
      <li>don&rsquo;t hide labels, unless the surrounding context makes them unnecessary</li>
      <li>labels should be aligned above their fields</li>
      <li>label text should be short, direct and in sentence case</li>
      <li>avoid colons at the end of labels</li>
      <li>labels should be associated with form fields using the for attribute</li>
    </ul>
    
    <div class="example">
      
      <form class="form">
        <label class="form-label" for="full-name">Full name</label>
        <input class="form-control" type="text" id="full-name" name="full-name">
      </form>
      
    </div>
  
  </section>
  
  <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
  &#x3C;label class=&#x22;form-label&#x22; for=&#x22;full-name&#x22;&#x3E;Full name&#x3C;/label&#x3E;
  &#x3C;input class=&#x22;form-control&#x22; type=&#x22;text&#x22; id=&#x22;full-name&#x22; name=&#x22;full-name&#x22;&#x3E;
  </code></pre></div>
  
  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>