  <section aria-labelledby="select-box">
  
    <h3 class="heading-medium" id="select-box">Select box</h3>
    
    <p class="text">Avoid using select boxes (drop-down lists) &ndash; use radio buttons or checkboxes instead if possible.</p>
    
    <div class="example">

      <form class="form">
        
        <label class="form-label" for="legal-status">Legal status</label>
        <select class="form-control" id="legal-status">
          <option>Charitable Interest Organisation</option>
          <option>Community Interest Company</option>
          <option>Government (Central)</option>
          <option>Government Limited Liability Partnership</option>
        </select>
      
      </form>

    </div>
  
  </section>
  
  <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
  &#x3C;label class=&#x22;form-label&#x22; for=&#x22;legal-status&#x22;&#x3E;Legal status&#x3C;/label&#x3E;
  &#x3C;select class=&#x22;form-control&#x22; id=&#x22;legal-status&#x22;&#x3E;
    &#x3C;option&#x3E;Charitable Interest Organisation&#x3C;/option&#x3E;
    &#x3C;option&#x3E;Community Interest Company&#x3C;/option&#x3E;
    &#x3C;option&#x3E;Government (Central)&#x3C;/option&#x3E;
    &#x3C;option&#x3E;Government Limited Liability Partnership&#x3C;/option&#x3E;
  &#x3C;/select&#x3E;
  </code></pre></div>
  
  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>