  <nav class="toc" id="toc">
    
    <div class="panel panel-border-narrow">
    
      <h2 class="heading-small">Contents</h2>
      
      <ul class="list">
        <li><a href="#labels">Labels</a></li>
        <li><a href="#hint-text">Hint text</a></li>
        <li><a href="#radio-buttons">Radio buttons</a></li>
        <li><a href="#checkboxes">Checkboxes</a></li>
        <li><a href="#conditionally-revealing-content">Conditionally revealing content</a></li>
        <li><a href="#date-pattern">Date pattern</a></li>
        <li><a href="#select-box">Select box</a></li>
        <li><a href="#search-input">Search input</a></li>
      </ul>
    
    </div>
    
  </nav>