// Lists
// ==========================================================================

$module: 'list';

.#{$module} {

  &-inline {

    li {
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 10px;
    }

  }

}
