// Tables
// ==========================================================================

$module: 'table';

.#{$module} {
  margin-bottom: em(20);
 
  // personal details modifier
 &-personal-details {

    @include media(tablet) {

      th:first-child {
        width: 30%
      }
    
    }
    
  }
 
}