  <nav class="toc" id="toc">
    
    <div class="panel panel-border-narrow">
    
      <h2 class="heading-small">Contents</h2>
      
      <ul class="list">
        <li><a href="#error-message-and-summary-box">Error message and summary box</a></li>
        <li><a href="#error-style-patterns-for-form-elements">Error style patterns for form elements</a></li>
      </ul>
    
    </div>
    
  </nav>