  <section aria-labelledby="margins">
  
    <h3 class="heading-medium" id="margins">Margins (Vertical spacing)</h3>
    
    <p class="text">Abstract classes that can handle vertical spacing will <abbr title="Don&rsquo;t Repeat Yourself">DRY</abbr> our code and allow for global consistency with spacing components.</p>
    
    <p>Margins are calculated in 5px increments.</p>
    
    <div class="example">
      
      <div class="grid-row">
        
        <div class="block-wrapper">
          <div class="block mt-xs">
            <div class="box"><span class="box-text bold-small">5px</span></div>
          </div>
        </div>

        <div class="block-wrapper">
        <div class="block mt-s">
          <div class="box"><span class="box-text bold-small">15px</span></div>
        </div>
        </div>
      
        <div class="block-wrapper">
          <div class="block mt-m">
            <div class="box"><span class="box-text bold-small">20px</span></div>
          </div>
        </div>
        
        <div class="block-wrapper">
          <div class="block mt-l">
            <div class="box"><span class="box-text bold-small">30px</span></div>
          </div>
        </div>
        
        <div class="block-wrapper">
          <div class="block mt-xl">
            <div class="box"><span class="box-text bold-small">45px</span></div>
          </div>
        </div>
        
        <div class="block-wrapper">
          <div class="block mt-xxl">
            <div class="box"><span class="box-text bold-small">60px</span></div>
          </div>
        </div>
              
      </div>
      
    </div>
  
  </section>
  
  <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
  &#x3C;!-- margin top --&#x3E;
  &#x3C;div class=&#x22;block mt-xs&#x22;&#x3E;5px&#x3C;/div&#x3E;
  &#x3C;div class=&#x22;block mt-s&#x22;&#x3E;15px&#x3C;/div&#x3E;
  &#x3C;div class=&#x22;block mt-m&#x22;&#x3E;20px&#x3C;/div&#x3E;
  &#x3C;div class=&#x22;block mt-l&#x22;&#x3E;30px&#x3C;/div&#x3E;
  &#x3C;div class=&#x22;block mt-xl&#x22;&#x3E;45px&#x3C;/div&#x3E;
  &#x3C;div class=&#x22;block mt-xxl&#x22;&#x3E;60px&#x3C;/div&#x3E;
  
  &#x3C;!-- margin bottom --&#x3E;
  &#x3C;div class=&#x22;block mb-xs&#x22;&#x3E;5px&#x3C;/div&#x3E;
  &#x3C;div class=&#x22;block mb-s&#x22;&#x3E;15px&#x3C;/div&#x3E;
  &#x3C;div class=&#x22;block mb-m&#x22;&#x3E;20px&#x3C;/div&#x3E;
  &#x3C;div class=&#x22;block mb-l&#x22;&#x3E;30px&#x3C;/div&#x3E;
  &#x3C;div class=&#x22;block mb-xl&#x22;&#x3E;45px&#x3C;/div&#x3E;
  &#x3C;div class=&#x22;block mb-xxl&#x22;&#x3E;60px&#x3C;/div&#x3E;
  </code></pre></div>
  
  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>