  <section aria-labelledby="optimal-line-length">

    <h3 class="heading-medium" id="optimal-line-length">Optimal line length</h3>

    <div class="text">

      <p>There is an optimal line length for body copy which is considered to be between 50&mdash;75 characters per line.</p>

      <div class="panel panel-border-wide">
        <p>We can achieve this by adding a text class to either a paragraph directly or a container which holds multiple paragraphs or other content.</p>
      </div>

    </div>

    <div class="example">

      <div class="text">
        <p>Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper. Donec id elit non mi porta gravida at eget metus.</p>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum.</p>
      </div>

    </div>

  </section>

  <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
  &#x3C;div class=&#x22;text&#x22;&#x3E;

    &#x3C;p&#x3E;Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna,
    vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Maecenas
    faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper.
    Donec id elit non mi porta gravida at eget metus.&#x3C;/p&#x3E;

    &#x3C;p&#x3E;Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere
    consectetur est at lobortis. Maecenas faucibus mollis interdum.&#x3C;/p&#x3E;

  &#x3C;/div&#x3E;
  </code></pre></div>

  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>
