  <section aria-labelledby="data-visualisation">

    <h3 class="heading-medium" id="data-visualisation">Data visualisation</h3>

    <ul class="list list-bullet text">
      <li>data is recommended as an alternative to using images</li>
      <li>for screen readers, ensure the data value appears first so it makes sense when read aloud</li>
    </ul>

    <div class="example">

      <div class="grid-row">

        <div class="column-one-half">

          <div class="data">
            <h2 class="bold-xxlarge">24</h2>
            <span class="bold-xsmall">Ministerial departments</span>
          </div>

        </div>

        <div class="column-one-half">
          <div class="data">
            <h2 class="bold-xxlarge">80px</h2>
            <span class="bold-xsmall">16px</span>
          </div>
        </div>

      </div>

    </div>

  <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
  &#x3C;div class=&#x22;data&#x22;&#x3E;
    &#x3C;h2 class=&#x22;bold-xxlarge&#x22;&#x3E;24&#x3C;/h2&#x3E;
    &#x3C;span class=&#x22;bold-xsmall&#x22;&#x3E;Ministerial departments&#x3C;/span&#x3E;
  &#x3C;/div&#x3E;

  &#x3C;div class=&#x22;data&#x22;&#x3E;
    &#x3C;h2 class=&#x22;bold-xxlarge&#x22;&#x3E;80px&#x3C;/h2&#x3E;
    &#x3C;span class=&#x22;bold-xsmall&#x22;&#x3E;16px&#x3C;/span&#x3E;
  &#x3C;/div&#x3E;
  </code></pre></div>

    <div class="example">

      <div class="grid-row">

        <div class="column-one-half">

          <div class="data">
            <h2 class="bold-xlarge">56/154</h2>
            <span class="bold-xsmall">on GOV.UK</span>
          </div>

        </div>

        <div class="column-one-half">
          <div class="data">
            <h2 class="bold-xlarge">48px</h2>
            <span class="bold-xsmall">16px</span>
          </div>
        </div>

      </div>

    </div>

  </section>

  <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
  &#x3C;div class=&#x22;data&#x22;&#x3E;
    &#x3C;h2 class=&#x22;bold-xlarge&#x22;&#x3E;56/154&#x3C;/h2&#x3E;
    &#x3C;span class=&#x22;bold-xsmall&#x22;&#x3E;on GOV.UK&#x3C;/span&#x3E;
  &#x3C;/div&#x3E;

  &#x3C;div class=&#x22;data&#x22;&#x3E;
    &#x3C;h2 class=&#x22;bold-xlarge&#x22;&#x3E;48px&#x3C;/h2&#x3E;
    &#x3C;span class=&#x22;bold-xsmall&#x22;&#x3E;16px&#x3C;/span&#x3E;
  &#x3C;/div&#x3E;
  </code></pre></div>

  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>
