  <section aria-labelledby="data-in-a-table">
  
    <h3 class="heading-medium" id="data-in-a-table">Data in a table</h3>
    
    <p class="text">Not all content in tables should be right aligned.</p>
    
    <div class="example">
      
      <table class="table">
        <thead>
          <tr>
            <th scope="col" colspan="2">Dates and amounts</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>First 6 weeks</td>
            <td>&pound;109.80 per week</td>
          </tr>
          <tr>
            <td>Next 33 weeks</td>
            <td>&pound;109.80 per week</td>
          </tr>
          <tr>
           <td>Total estimated pay</td>
            <td>&pound;4,282.20</td>
          </tr>
          <tr>
            <td>Tell the mother&rsquo;s employer</td>
            <td>28 days before they want to start maternity pay</td>
          </tr>
        </tbody>
      </table>
 
    </div>
  
  </section>
  
  <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
&#x3C;table class=&#x22;table&#x22;&#x3E;
  &#x3C;thead&#x3E;
    &#x3C;tr&#x3E;
      &#x3C;th scope=&#x22;col&#x22; colspan=&#x22;2&#x22;&#x3E;Dates and amounts&#x3C;/th&#x3E;
    &#x3C;/tr&#x3E;
  &#x3C;/thead&#x3E;
  &#x3C;tbody&#x3E;
    &#x3C;tr&#x3E;
      &#x3C;td&#x3E;First 6 weeks&#x3C;/td&#x3E;
      &#x3C;td&#x3E;&#xA3;109.80 per week&#x3C;/td&#x3E;
    &#x3C;/tr&#x3E;
    &#x3C;tr&#x3E;
      &#x3C;td&#x3E;Next 33 weeks&#x3C;/td&#x3E;
      &#x3C;td&#x3E;&#xA3;109.80 per week&#x3C;/td&#x3E;
    &#x3C;/tr&#x3E;
    &#x3C;tr&#x3E;
     &#x3C;td&#x3E;Total estimated pay&#x3C;/td&#x3E;
      &#x3C;td&#x3E;&#xA3;4,282.20&#x3C;/td&#x3E;
    &#x3C;/tr&#x3E;
    &#x3C;tr&#x3E;
      &#x3C;td&#x3E;Tell the mother&#x27;s employer&#x3C;/td&#x3E;
      &#x3C;td&#x3E;28 days before they want to start maternity pay&#x3C;/td&#x3E;
    &#x3C;/tr&#x3E;
  &#x3C;/tbody&#x3E;
&#x3C;/table&#x3E;
  </code></pre></div>
  
  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>