  <section aria-labelledby="numeric-tabular-data">
  
    <h3 class="heading-medium" id="numeric-tabular-data">Numeric tabular data</h3>
    
    <p class="text">When comparing rows of numbers, align numbers to the right in table cells.</p>
    
    <div class="example">
      
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th class="numeric" scope="col">Paper form</th>
            <th class="numeric" scope="col">Digital</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>25 November to 1 December 2013</td>
            <td class="numeric">2,763</td>
            <td class="numeric">1,792</td>
          </tr>
          <tr>
            <td>2 to 8 December 2013</td>
            <td class="numeric">2,850</td>
            <td class="numeric">1,740</td>
          </tr>
          <tr>
           <td>9 to 15 December 2013</td>
            <td class="numeric">2,388</td>
            <td class="numeric">1,683</td>
          </tr>
        </tbody>
      </table>
 
    </div>
  
  </section>
  
  <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
&#x3C;table class=&#x22;table&#x22;&#x3E;
  &#x3C;thead&#x3E;
    &#x3C;tr&#x3E;
      &#x3C;th scope=&#x22;col&#x22;&#x3E;Date&#x3C;/th&#x3E;
      &#x3C;th class=&#x22;numeric&#x22; scope=&#x22;col&#x22;&#x3E;Paper form&#x3C;/th&#x3E;
      &#x3C;th class=&#x22;numeric&#x22; scope=&#x22;col&#x22;&#x3E;Digital&#x3C;/th&#x3E;
    &#x3C;/tr&#x3E;
  &#x3C;/thead&#x3E;
  &#x3C;tbody&#x3E;
    &#x3C;tr&#x3E;
      &#x3C;td&#x3E;25 November to 1 December 2013&#x3C;/td&#x3E;
      &#x3C;td class=&#x22;numeric&#x22;&#x3E;2,763&#x3C;/td&#x3E;
      &#x3C;td class=&#x22;numeric&#x22;&#x3E;1,792&#x3C;/td&#x3E;
    &#x3C;/tr&#x3E;
    &#x3C;tr&#x3E;
      &#x3C;td&#x3E;2 to 8 December 2013&#x3C;/td&#x3E;
      &#x3C;td class=&#x22;numeric&#x22;&#x3E;2,850&#x3C;/td&#x3E;
      &#x3C;td class=&#x22;numeric&#x22;&#x3E;1,740&#x3C;/td&#x3E;
    &#x3C;/tr&#x3E;
    &#x3C;tr&#x3E;
     &#x3C;td&#x3E;9 to 15 December 2013&#x3C;/td&#x3E;
      &#x3C;td class=&#x22;numeric&#x22;&#x3E;2,388&#x3C;/td&#x3E;
      &#x3C;td class=&#x22;numeric&#x22;&#x3E;1,683&#x3C;/td&#x3E;
    &#x3C;/tr&#x3E;
  &#x3C;/tbody&#x3E;
&#x3C;/table&#x3E;
  </code></pre></div>
  
  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>