  <nav class="toc" id="toc">
    
    <div class="panel panel-border-narrow">
    
      <h2 class="heading-small">Contents</h2>
      
      <ul class="list">
        <li><a href="#numeric-tabular-data">Numeric tabular data</a></li>
        <li><a href="#data-in-a-table">Data in a table</a></li>
        <li><a href="#data-visualisation">Data visualisation</a></li>
      </ul>
    
    </div>
    
  </nav>