  <section aria-labelledby="advanced-timeline">
  
    <h3 class="heading-medium" id="advanced-timeline">Advanced timeline</h3>
    
    <div class="example">
      
      <section class="timeline">
    
        <header class="timeline-header">
          <h2 class="bold-medium">Timeline</h2>
        </header>
      
        <article class="timeline-block">
          
          <div class="timeline-block-header">
            <time datetime="2016-05-12">12 May 2016</time>
          </div>
          
          <div class="timeline-block-content">
            <h3 class="bold-small">Sentence hearing</h3>
          </div>
          
        </article>
        
        <article class="timeline-block">
          
          <div class="timeline-block-header">
            <time datetime="2016-05-10">10 May 2016</time>
          </div>
          
          <div class="timeline-block-content">
            
            <h3 class="bold-small">Charging advice requested</h3>
            <time class="font-xsmall" datetime="09:30Z">9:30am</time>
            
            <ul class="timeline-block-updates">
              <li><a href="#">Assign to me</a></li>
              <li>Review full case</li>
              <li>Enter your analysis and charging decision</li>
            </ul>
            
          </div>
          
        </article>
        
        <article class="timeline-block">
          
          <div class="timeline-block-header">
            <time datetime="2016-04-28">28 April 2016</time>
          </div>
          
          <div class="timeline-block-content">
            <h3 class="bold-small">Remanded in custody</h3>
            <time class="font-xsmall" datetime="11:45Z">11:45pm</time>
          </div>
          
        </article>
      
      </section>
      
    </div>
  
  </section>
 

  <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
&#x3C;section class=&#x22;timeline&#x22;&#x3E;
  
  &#x3C;header class=&#x22;timeline-header&#x22;&#x3E;
    &#x3C;h2 class=&#x22;bold-medium&#x22;&#x3E;Timeline&#x3C;/h2&#x3E;
  &#x3C;/header&#x3E;

  &#x3C;article class=&#x22;timeline-block&#x22;&#x3E;
    
    &#x3C;div class=&#x22;timeline-block-header&#x22;&#x3E;
      &#x3C;time datetime=&#x22;2016-05-12&#x22;&#x3E;12 May 2016&#x3C;/time&#x3E;
    &#x3C;/div&#x3E;
    
    &#x3C;div class=&#x22;timeline-block-content&#x22;&#x3E;
      &#x3C;h3 class=&#x22;bold-small&#x22;&#x3E;Sentence hearing&#x3C;/h3&#x3E;
    &#x3C;/div&#x3E;
    
  &#x3C;/article&#x3E;
  
  &#x3C;article class=&#x22;timeline-block&#x22;&#x3E;
    
    &#x3C;div class=&#x22;timeline-block-header&#x22;&#x3E;
      &#x3C;time datetime=&#x22;2016-05-10&#x22;&#x3E;10 May 2016&#x3C;/time&#x3E;
    &#x3C;/div&#x3E;
    
    &#x3C;div class=&#x22;timeline-block-content&#x22;&#x3E;
      
      &#x3C;h3 class=&#x22;bold-small&#x22;&#x3E;Charging advice requested&#x3C;/h3&#x3E;
      &#x3C;time class=&#x22;font-xsmall&#x22; datetime=&#x22;09:30Z&#x22;&#x3E;9:30am&#x3C;/time&#x3E;
      
      &#x3C;ul class=&#x22;timeline-block-updates&#x22;&#x3E;
        &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;Assign to me&#x3C;/a&#x3E;&#x3C;/li&#x3E;
        &#x3C;li&#x3E;Review full case&#x3C;/li&#x3E;
        &#x3C;li&#x3E;Enter your analysis and charging decision&#x3C;/li&#x3E;
      &#x3C;/ul&#x3E;
      
    &#x3C;/div&#x3E;
    
  &#x3C;/article&#x3E;
  
  &#x3C;article class=&#x22;timeline-block&#x22;&#x3E;
    
    &#x3C;div class=&#x22;timeline-block-header&#x22;&#x3E;
      &#x3C;time datetime=&#x22;2016-04-28&#x22;&#x3E;28 April 2016&#x3C;/time&#x3E;
    &#x3C;/div&#x3E;
    
    &#x3C;div class=&#x22;timeline-block-content&#x22;&#x3E;
      &#x3C;h3 class=&#x22;bold-small&#x22;&#x3E;Remanded in custody&#x3C;/h3&#x3E;
      &#x3C;time class=&#x22;font-xsmall&#x22; datetime=&#x22;11:45Z&#x22;&#x3E;11:45pm&#x3C;/time&#x3E;
    &#x3C;/div&#x3E;
    
  &#x3C;/article&#x3E;

&#x3C;/section&#x3E;
  </code></pre></div>
  
  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>