  <nav class="toc" id="toc">
    
    <div class="panel panel-border-narrow">
    
      <h1 class="heading-small">Contents</h1>
      
      <ul class="list">
        <li><a href="#basic-timeline">Basic timeline</a></li>
        <li><a href="#advanced-timeline">Advanced timeline</a></li>
      </ul>
    
    </div>
    
  </nav>