  <section aria-labelledby="action-pane">
    
    <h3 class="heading-medium" id="action-pane">Action pane</h3>
      
    <div class="example">
    
      <div class="action-pane"> 
               
        <p><a href="#">Go to timeline and summary</a></p> 
             
        <p>
          <span class="bold-small">Next task</span> <br> 
          <a href="#">Enter your analysis and charging decision</a>
        </p>      
        
      </div>
            
    </div>
    
  </section>
  
  <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
  &#x3C;div class=&#x22;action-pane&#x22;&#x3E; 
           
    &#x3C;p&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;Go to timeline and summary&#x3C;/a&#x3E;&#x3C;/p&#x3E; 
         
    &#x3C;p&#x3E;
      &#x3C;span class=&#x22;bold-small&#x22;&#x3E;Next task&#x3C;/span&#x3E; &#x3C;br&#x3E; 
      &#x3C;a href=&#x22;#&#x22;&#x3E;Enter your analysis and charging decision&#x3C;/a&#x3E;
    &#x3C;/p&#x3E;      
    
  &#x3C;/div&#x3E;
  </code></pre></div>
  
  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>