  <section aria-labelledby="badge-item">

    <h3 class="heading-medium" id="badge-item">Badge item</h3>

    <!--p class="text">In the <abbr title="HyperText Markup Language">HTML</abbr> the number is before the description so it makes more sense when being read out by a screen reader.</p-->

    <div class="example">

      <!--ul class="badge-item">

        <li>
          <span class="badge-item-count">5</span>
          <span class="badge-item-title">To be assigned to a judge</span>
        </li>

        <li class="is-selected">
          <span class="badge-item-count">3</span>
          <span class="badge-item-title">Already assigned</span>
        </li>

        <li>
          <span class="badge-item-count">16</span>
          <span class="badge-item-title">Lorem ipsum</span>
        </li>

        <li>
          <span class="badge-item-count">7</span>
          <span class="badge-item-title">Dolor sit amet</span>
        </li>

        <li>
          <span class="badge-item-count">2</span>
          <span class="badge-item-title">Duis aute irur dolor in reprehenderit</span>
        </li>

      </ul-->

    </div>

  </section>

  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>
