  <section aria-labelledby="breadcrumbs">
    
    <h3 class="heading-medium" id="breadcrumbs">Breadcrumbs</h3>
      
    <div class="example">
            
      <div class="breadcrumbs">
        <ol>
          <li><a href="#">Platform Development Kit</a></li>
          <li><a href="#">Components</a></li>
          <li>Timeline</li>
        </ol>
      </div>
            
    </div>
    
  </section>
  
  <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
  &#x3C;div class=&#x22;breadcrumbs&#x22;&#x3E;
    &#x3C;ol&#x3E;
      &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;Platform Development Kit&#x3C;/a&#x3E;&#x3C;/li&#x3E;
      &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;Components&#x3C;/a&#x3E;&#x3C;/li&#x3E;
      &#x3C;li&#x3E;Timeline&#x3C;/li&#x3E;
    &#x3C;/ol&#x3E;
  &#x3C;/div&#x3E;
  </code></pre></div>
  
  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>