  <section aria-labelledby="completed-action-bar">
    
    <h3 class="heading-medium" id="completed-action-bar">Completed action bar</h3>
      
    <div class="example">
            
    </div>
    
  </section>
  
  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>