  <section aria-labelledby="completed-action-bar">

    <h3 class="heading-medium" id="completed-action-bar">Completed action bar</h3>

    <ul class="list list-bullet">
      <li>the &ldquo;saved&rdquo; icon is displayed temporarily when an item is saved</li>
      <li>the &ldquo;tick&rdquo; icon is always displayed after an item has been saved</li>
    </ul>

    <div class="example">

      <ul class="list">

        <li>
          <div class="action-bar action-bar-completed">
            <div class="action-bar-header">
              <span class="action-bar-title">ECHR doesn&rsquo;t apply</span>
              <span class="action-bar-options">
                <span class="action-bar-status action-bar-status-saved"></span><a class="action-bar-action" href="#">Amend</a>
              </span>
            </div>
          </div>
        </li>

        <li>
          <div class="action-bar action-bar-completed">
            <div class="action-bar-header">
              <span class="action-bar-title">Case strategy record</span>
              <span class="action-bar-options">
                <span class="action-bar-status"></span><a class="action-bar-action" href="#">Amend</a>
              </span>
            </div>
          </div>
        </li>

        <li>
          <div class="action-bar action-bar-completed">
            <div class="action-bar-header">
              <span class="action-bar-title">Applications to court</span>
              <span class="action-bar-options">
                <span class="action-bar-status"></span><a class="action-bar-action" href="#">Amend</a>
              </span>
            </div>
          </div>
        </li>

        <li>
          <div class="action-bar action-bar-start">
            <a class="action-bar-header" href="#">
              <span class="action-bar-title">Where should a case be heard?</span>
            </a>
          </div>
        </li>

        <li>
          <div class="action-bar action-bar-start">
            <a class="action-bar-header" href="#">
              <span class="action-bar-title">Anticipate contested issues</span>
            </a>
          </div>
        </li>

      </ul>

    </div>

    <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
  &#x3C;ul class=&#x22;list&#x22;&#x3E;

    &#x3C;li&#x3E;
      &#x3C;div class=&#x22;action-bar action-bar-completed&#x22;&#x3E;
        &#x3C;div class=&#x22;action-bar-header&#x22;&#x3E;
          &#x3C;span class=&#x22;action-bar-title&#x22;&#x3E;ECHR doesn&#x2019;t apply&#x3C;/span&#x3E;
          &#x3C;span class=&#x22;action-bar-options&#x22;&#x3E;
            &#x3C;span class=&#x22;action-bar-status action-bar-status-saved&#x22;&#x3E;&#x3C;/span&#x3E;
            &#x3C;a class=&#x22;action-bar-action&#x22; href=&#x22;#&#x22;&#x3E;Amend&#x3C;/a&#x3E;
          &#x3C;/span&#x3E;
        &#x3C;/div&#x3E;
      &#x3C;/div&#x3E;
    &#x3C;/li&#x3E;

    &#x3C;li&#x3E;
      &#x3C;div class=&#x22;action-bar action-bar-completed&#x22;&#x3E;
        &#x3C;div class=&#x22;action-bar-header&#x22;&#x3E;
          &#x3C;span class=&#x22;action-bar-title&#x22;&#x3E;Case strategy record&#x3C;/span&#x3E;
          &#x3C;span class=&#x22;action-bar-options&#x22;&#x3E;
            &#x3C;span class=&#x22;action-bar-status&#x22;&#x3E;&#x3C;/span&#x3E;
            &#x3C;a class=&#x22;action-bar-action&#x22; href=&#x22;#&#x22;&#x3E;Amend&#x3C;/a&#x3E;
          &#x3C;/span&#x3E;
        &#x3C;/div&#x3E;
      &#x3C;/div&#x3E;
    &#x3C;/li&#x3E;

    &#x3C;li&#x3E;
      &#x3C;div class=&#x22;action-bar action-bar-completed&#x22;&#x3E;
        &#x3C;div class=&#x22;action-bar-header&#x22;&#x3E;
          &#x3C;span class=&#x22;action-bar-title&#x22;&#x3E;Applications to court&#x3C;/span&#x3E;
          &#x3C;span class=&#x22;action-bar-options&#x22;&#x3E;
            &#x3C;span class=&#x22;action-bar-status&#x22;&#x3E;&#x3C;/span&#x3E;
            &#x3C;a class=&#x22;action-bar-action&#x22; href=&#x22;#&#x22;&#x3E;Amend&#x3C;/a&#x3E;
          &#x3C;/span&#x3E;
        &#x3C;/div&#x3E;
      &#x3C;/div&#x3E;
    &#x3C;/li&#x3E;

    &#x3C;li&#x3E;
      &#x3C;div class=&#x22;action-bar action-bar-start&#x22;&#x3E;
        &#x3C;a class=&#x22;action-bar-header&#x22; href=&#x22;#&#x22;&#x3E;
          &#x3C;span class=&#x22;action-bar-title&#x22;&#x3E;Where should a case be heard?&#x3C;/span&#x3E;
        &#x3C;/a&#x3E;
      &#x3C;/div&#x3E;
    &#x3C;/li&#x3E;

    &#x3C;li&#x3E;
      &#x3C;div class=&#x22;action-bar action-bar-start&#x22;&#x3E;
        &#x3C;a class=&#x22;action-bar-header&#x22; href=&#x22;#&#x22;&#x3E;
          &#x3C;span class=&#x22;action-bar-title&#x22;&#x3E;Anticipate contested issues&#x3C;/span&#x3E;
        &#x3C;/a&#x3E;
      &#x3C;/div&#x3E;
    &#x3C;/li&#x3E;

  &#x3C;/ul&#x3E;
    </code></pre></div>

  </section>

  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>
