  <section aria-labelledby="completed-action-bar">

    <h3 class="heading-medium" id="completed-action-bar">Completed action bar</h3>

    <ul class="list list-bullet">
      <li>the &ldquo;saved&rdquo; icon is displayed temporarily when an item is saved</li>
      <li>the &ldquo;tick&rdquo; icon is always displayed after an item has been saved</li>
    </ul>

    <div class="example">

      <ul class="list">

        <li>
          <div class="action-bar action-bar-completed">
            <div class="action-bar-header">
              <span class="action-bar-title">ECHR doesn&rsquo;t apply</span>
              <span class="action-bar-options">
                <span class="action-bar-status action-bar-status-saved"></span><a class="action-bar-action" href="#">Amend</a>
              </span>
            </div>
          </div>
        </li>

        <li>
          <div class="action-bar action-bar-completed">
            <div class="action-bar-header">
              <span class="action-bar-title">Case strategy record</span>
              <span class="action-bar-options">
                <span class="action-bar-status"></span><a class="action-bar-action" href="#">Amend</a>
              </span>
            </div>
          </div>
        </li>

        <li>
          <div class="action-bar action-bar-completed">
            <div class="action-bar-header">
              <span class="action-bar-title">Applications to court</span>
              <span class="action-bar-options">
                <span class="action-bar-status"></span><a class="action-bar-action" href="#">Amend</a>
              </span>
            </div>
          </div>
        </li>

        <li>
          <div class="action-bar action-bar-start">
            <a class="action-bar-header" href="#">
              <span class="action-bar-title">Where should a case be heard?</span>
            </a>
          </div>
        </li>

        <li>
          <div class="action-bar action-bar-start">
            <a class="action-bar-header" href="#">
              <span class="action-bar-title">Anticipate contested issues</span>
            </a>
          </div>
        </li>

      </ul>

    </div>

  </section>

  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>
