  <section aria-labelledby="global-navigation">

    <h3 class="heading-medium" id="global-navigation">Global Navigation</h3>

    <div class="example">

      <!--nav class="navigation" role="navigation" aria-label="Global Navigation">

        <ul class="navigation-list">
          <li class="navigation-list-item"><a href="#">Case at a glance</a></li>
          <li class="navigation-list-item is-active"><a href="#">Case material</a></li>
        </ul>

        <ul class="navigation-list navigation-list-pre-charge">
          <li class="navigation-list-item"><a href="#">Analysis and decisions</a></li>
          <li class="navigation-list-item"><a href="#">Action plan</a></li>
          <li class="navigation-list-item"><a href="#">Preview and send</a></li>
        </ul>

      </nav-->

    </div>

    <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>

    </code></pre></div>

  </section>

  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>
