  <section aria-labelledby="global-navigation">

    <h3 class="heading-medium" id="global-navigation">Global Navigation</h3>

    <div class="example">

      <div class="global-navigation">

        <a href="#" class="global-navigation-toggle" aria-expanded="false" aria-controls="global-navigation">Menu</a>

        <nav class="global-navigation" id="global-navigation" role="navigation" aria-label="Global Navigation" aria-expanded="true">

          <h3 class="visuallyhidden">Global navigation</h3>

          <ul class="global-navigation-list">
            <li class="is-active">Case at a glance</li>
            <li><a href="#">Case material</a></li>
          </ul>

          <ul class="global-navigation-list">
            <li><a href="#">Analysis and decisions</a></li>
            <li><a href="#">Action plan</a></li>
            <li><a href="#">Preview and send</a></li>
          </ul>

        </nav>

      </div>

    </div>

    <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>

    </code></pre></div>

  </section>

  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>
