  <section aria-labelledby="next-and-previous">
    
    <h3 class="heading-medium" id="next-and-previous">Next/previous</h3>
      
    <div class="example">
        
      <div class="pagination">
        
        <div class="pagination-prev">
          <a href="#" rel="prev" title="Navigate to previous part">
            <span class="pagination-label">Previous</span>
            <span class="pagination-title">Overview</span>
          </a>
        </div>
        
        <div class="pagination-next">
          <a href="#" rel="next" title="Navigate to next part">
            <span class="pagination-label">Next</span>
            <span class="pagination-title">Give away business property or assets</span>
          </a>
        </div>
        
      </div>
            
    </div>
    
  </section>
  
  <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
  &#x3C;div class=&#x22;pagination&#x22;&#x3E;
          
    &#x3C;div class=&#x22;pagination-prev&#x22;&#x3E;
      &#x3C;a href=&#x22;#&#x22; rel=&#x22;prev&#x22; title=&#x22;Navigate to previous part&#x22;&#x3E;
        &#x3C;span class=&#x22;pagination-label&#x22;&#x3E;Previous&#x3C;/span&#x3E;
        &#x3C;span class=&#x22;pagination-title&#x22;&#x3E;Overview&#x3C;/span&#x3E;
      &#x3C;/a&#x3E;
    &#x3C;/div&#x3E;
    
    &#x3C;div class=&#x22;pagination-next&#x22;&#x3E;
      &#x3C;a href=&#x22;#&#x22; rel=&#x22;next&#x22; title=&#x22;Navigate to next part&#x22;&#x3E;
        &#x3C;span class=&#x22;pagination-label&#x22;&#x3E;Next&#x3C;/span&#x3E;
        &#x3C;span class=&#x22;pagination-title&#x22;&#x3E;Give away business property or assets&#x3C;/span&#x3E;
      &#x3C;/a&#x3E;
    &#x3C;/div&#x3E;
    
  &#x3C;/div&#x3E;
  </code></pre></div>
  
  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>