  <section aria-labelledby="pagination">

    <h3 class="heading-medium" id="pagination">Pagination</h3>

    <p>First item selected &ndash; (Previous link hidden or removed).</p>

    <div class="example">

      <div class="pagination">

        <ul class="pagination-numbers">
          <li class="is-active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">6</a></li>
          <li><a href="#">7</a></li>
          <li><a href="#">...</a></li>
          <li><a href="#">67</a></li>
        </ul>

        <div class="pagination-next">
          <a href="#" rel="next" title="Navigate to next part">
            <span class="pagination-label">Next</span>
          </a>
        </div>

      </div>

    </div>

    <p>Middle item selected.</p>

    <div class="example">

      <div class="pagination">

        <div class="pagination-prev">
          <a href="#" rel="prev" title="Navigate to previous part">
            <span class="pagination-label">Previous</span>
          </a>
        </div>

        <ul class="pagination-numbers">
          <li><a href="#">1</a></li>
          <li><a href="#">...</a></li>
          <li><a href="#">28</a></li>
          <li><a href="#">29</a></li>
          <li class="is-active"><a href="#">30</a></li>
          <li><a href="#">31</a></li>
          <li><a href="#">32</a></li>
          <li><a href="#">...</a></li>
          <li><a href="#">67</a></li>
        </ul>

        <div class="pagination-next">
          <a href="#" rel="next" title="Navigate to next part">
            <span class="pagination-label">Next</span>
          </a>
        </div>

      </div>

    </div>

    <p>Last item selected &ndash; (Next link hidden or removed).</p>

    <div class="example">

      <div class="pagination">

        <div class="pagination-prev">
          <a href="#" rel="prev" title="Navigate to previous part">
            <span class="pagination-label">Previous</span>
          </a>
        </div>

        <ul class="pagination-numbers">
          <li><a href="#">1</a></li>
          <li><a href="#">...</a></li>
          <li><a href="#">61</a></li>
          <li><a href="#">62</a></li>
          <li><a href="#">63</a></li>
          <li><a href="#">64</a></li>
          <li><a href="#">65</a></li>
          <li><a href="#">66</a></li>
          <li class="is-active"><a href="#">67</a></li>
        </ul>

      </div>

    </div>

  </section>

  <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
  &#x3C;div class=&#x22;pagination&#x22;&#x3E;

    &#x3C;div class=&#x22;pagination-prev&#x22;&#x3E;
      &#x3C;a href=&#x22;#&#x22; rel=&#x22;prev&#x22; title=&#x22;Navigate to previous part&#x22;&#x3E;
        &#x3C;span class=&#x22;pagination-label&#x22;&#x3E;Previous&#x3C;/span&#x3E;
      &#x3C;/a&#x3E;
    &#x3C;/div&#x3E;

    &#x3C;ul class=&#x22;pagination-numbers&#x22;&#x3E;
      &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;1&#x3C;/a&#x3E;&#x3C;/li&#x3E;
      &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;...&#x3C;/a&#x3E;&#x3C;/li&#x3E;
      &#x3C;li&#x3E;&#x3C;a class=&#x22;is-active&#x22; href=&#x22;#&#x22;&#x3E;2&#x3C;/a&#x3E;&#x3C;/li&#x3E;
      &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;3&#x3C;/a&#x3E;&#x3C;/li&#x3E;
      &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;4&#x3C;/a&#x3E;&#x3C;/li&#x3E;
      &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;5&#x3C;/a&#x3E;&#x3C;/li&#x3E;
      &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;6&#x3C;/a&#x3E;&#x3C;/li&#x3E;
      &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;...&#x3C;/a&#x3E;&#x3C;/li&#x3E;
      &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;7&#x3C;/a&#x3E;&#x3C;/li&#x3E;
    &#x3C;/ul&#x3E;

    &#x3C;div class=&#x22;pagination-next&#x22;&#x3E;
      &#x3C;a href=&#x22;#&#x22; rel=&#x22;next&#x22; title=&#x22;Navigate to next part&#x22;&#x3E;
        &#x3C;span class=&#x22;pagination-label&#x22;&#x3E;Next&#x3C;/span&#x3E;
      &#x3C;/a&#x3E;
    &#x3C;/div&#x3E;

  &#x3C;/div&#x3E;
  </code></pre></div>

  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>
