  <section aria-labelledby="right-column-navigation">
    
    <h3 class="heading-medium" id="right-column-navigation">Right column navigation</h3>
      
    <div class="example">
            
    </div>
    
  </section>
  
  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>