  <section aria-labelledby="right-column-navigation">

    <h3 class="heading-medium" id="right-column-navigation">Right column navigation</h3>


    <div class="example">

      <div class="grid-row">

        <div class="column-third">

          <!-- related -->
          <div class="related">

            <div class="related-section">

              <ul class="related-links">
                <li><a href="#">View this user&rsquo;s details</a></li>
                <li><a href="#">Search for user in this organisation</a></li>
                <li><a href="#">Search for another organisation</a></li>
                <li><a class="bold-xsmall" href="#">More</a></li>
              </ul>

            </div>

          </div>
          <!-- end -->

        </div>

      </div>

    </div>

    <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
  &#x3C;div class=&#x22;related&#x22;&#x3E;

    &#x3C;div class=&#x22;related-section&#x22;&#x3E;

      &#x3C;ul class=&#x22;related-links&#x22;&#x3E;
        &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;View this user&#x26;rsquo;s details&#x3C;/a&#x3E;&#x3C;/li&#x3E;
        &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;Search for user in this organisation&#x3C;/a&#x3E;&#x3C;/li&#x3E;
        &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;Search for another organisation&#x3C;/a&#x3E;&#x3C;/li&#x3E;
        &#x3C;li&#x3E;&#x3C;a class=&#x22;bold-xsmall&#x22; href=&#x22;#&#x22;&#x3E;More&#x3C;/a&#x3E;&#x3C;/li&#x3E;
      &#x3C;/ul&#x3E;

    &#x3C;/div&#x3E;

  &#x3C;/div&#x3E;
    </code></pre></div>


    <div class="example">

      <div class="grid-row">

        <div class="column-third">

          <!-- related -->
          <div class="related">

            <p class="related-meta">This user last signed in on <br> <time datetime="2015-12-13 14:36">13 December 2015 at 2:36pm</time></p>

            <div class="related-section">

              <ul class="related-links">
                <li><a href="#">Search for another user</a></li>
              </ul>

            </div>

          </div>
          <!-- end -->

        </div>

        <div class="column-third">

          <!-- related -->
          <div class="related">

            <ul class="related-meta">
              <li>This user&rsquo;s account will be suspended on <time datetime="2017-03-17">17 March 2017</time></li>
              <li>This user last signed in on <br> <time datetime="2015-12-13 14:36">13 December 2015 at 2:36pm</time></li>
            </ul>

            <div class="related-section">

              <ul class="related-links">
                <li><a href="#">Search for another user</a></li>
              </ul>

            </div>

          </div>
          <!-- end -->

        </div>

      </div>

    </div>

    <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
  &#x3C;!-- example one --&#x3E;
  &#x3C;div class=&#x22;related&#x22;&#x3E;

    &#x3C;p class=&#x22;related-meta&#x22;&#x3E;This user last signed in on &#x3C;br&#x3E;
      &#x3C;time datetime=&#x22;2015-12-13 14:36&#x22;&#x3E;13 December 2015 at 2:36pm&#x3C;/time&#x3E;
    &#x3C;/p&#x3E;

    &#x3C;div class=&#x22;related-section&#x22;&#x3E;

      &#x3C;ul class=&#x22;related-links&#x22;&#x3E;
        &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;Search for another user&#x3C;/a&#x3E;&#x3C;/li&#x3E;
      &#x3C;/ul&#x3E;

    &#x3C;/div&#x3E;

  &#x3C;/div&#x3E;

  &#x3C;!-- example two --&#x3E;
  &#x3C;div class=&#x22;related&#x22;&#x3E;

    &#x3C;ul class=&#x22;related-meta&#x22;&#x3E;

      &#x3C;li&#x3E;This user’s account will be suspended on
        &#x3C;time datetime=&#x22;2017-03-17&#x22;&#x3E;17 March 2017&#x3C;/time&#x3E;
      &#x3C;/li&#x3E;

      &#x3C;li&#x3E;This user last signed in on&#x3C;br&#x3E;
        &#x3C;time datetime=&#x22;2015-12-13 14:36&#x22;&#x3E;13 December 2015 at 2:36pm&#x3C;/time&#x3E;
      &#x3C;/li&#x3E;

    &#x3C;/ul&#x3E;

    &#x3C;div class=&#x22;related-section&#x22;&#x3E;

      &#x3C;ul class=&#x22;related-links&#x22;&#x3E;
        &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;Search for another user&#x3C;/a&#x3E;&#x3C;/li&#x3E;
      &#x3C;/ul&#x3E;

    &#x3C;/div&#x3E;

  &#x3C;/div&#x3E;
    </code></pre></div>


    <div class="example">

      <div class="grid-row">

        <div class="column-third">

          <!-- related -->
          <div class="related">

            <div class="related-section">

              <h3 class="related-heading">Actions for this org</h3>

              <ul class="related-links">
                <li><a href="#">View organisation&rsquo;s details</a></li>
              </ul>

            </div>

            <div class="related-section">

              <h3 class="related-heading">Other actions</h3>

              <ul class="related-links">
                <li><a href="#">Search for another organisation</a></li>
                <li><a href="#">Search all users</a></li>
              </ul>

            </div>

          </div>
          <!-- end -->

        </div>

        <div class="column-third">

          <!-- related -->
          <div class="related">

            <div class="related-section">

              <h3 class="related-heading">To do</h3>

              <ul class="related-links">
                <li><a href="#">View case material</a></li>
                <li><a href="#">Enter analysis and charging decisions</a></li>
                <li><a href="#">Create action plan</a></li>
              </ul>

            </div>

          </div>
          <!-- end -->

        </div>

      </div>

    </div>

    <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
  &#x3C;!-- example one --&#x3E;
  &#x3C;div class=&#x22;related&#x22;&#x3E;

    &#x3C;div class=&#x22;related-section&#x22;&#x3E;

      &#x3C;h3 class=&#x22;related-heading&#x22;&#x3E;Actions for this org&#x3C;/h3&#x3E;

      &#x3C;ul class=&#x22;related-links&#x22;&#x3E;
        &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;View organisation&#x26;rsquo;s details&#x3C;/a&#x3E;&#x3C;/li&#x3E;
      &#x3C;/ul&#x3E;

    &#x3C;/div&#x3E;

    &#x3C;div class=&#x22;related-section&#x22;&#x3E;

      &#x3C;h3 class=&#x22;related-heading&#x22;&#x3E;Other actions&#x3C;/h3&#x3E;

      &#x3C;ul class=&#x22;related-links&#x22;&#x3E;
        &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;Search for another organisation&#x3C;/a&#x3E;&#x3C;/li&#x3E;
        &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;Search all users&#x3C;/a&#x3E;&#x3C;/li&#x3E;
      &#x3C;/ul&#x3E;

    &#x3C;/div&#x3E;

  &#x3C;/div&#x3E;

  &#x3C;!-- example two --&#x3E;
  &#x3C;div class=&#x22;related&#x22;&#x3E;

    &#x3C;div class=&#x22;related-section&#x22;&#x3E;

      &#x3C;h3 class=&#x22;related-heading&#x22;&#x3E;To do&#x3C;/h3&#x3E;

      &#x3C;ul class=&#x22;related-links&#x22;&#x3E;
        &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;View case material&#x3C;/a&#x3E;&#x3C;/li&#x3E;
        &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;Enter analysis and charging decisions&#x3C;/a&#x3E;&#x3C;/li&#x3E;
        &#x3C;li&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;Create action plan&#x3C;/a&#x3E;&#x3C;/li&#x3E;
      &#x3C;/ul&#x3E;

    &#x3C;/div&#x3E;

  &#x3C;/div&#x3E;
    </code></pre></div>

  </section>

  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>
