  <section aria-labelledby="right-column-navigation">

    <h3 class="heading-medium" id="right-column-navigation">Right column navigation</h3>


    <div class="example">

      <div class="grid-row">

        <div class="column-third">

          <!-- related -->
          <div class="related">

            <div class="related-section">

              <ul class="related-links">
                <li><a href="#">View this user&rsquo;s details</a></li>
                <li><a href="#">Search for user in this organisation</a></li>
                <li><a href="#">Search for another organisation</a></li>
                <li><a class="bold-xsmall" href="#">More</a></li>
              </ul>

            </div>

          </div>
          <!-- end -->

        </div>

      </div>

    </div>


    <div class="example">

      <div class="grid-row">

        <div class="column-third">

          <!-- related -->
          <div class="related">

            <p class="related-meta">This user last signed in on <br> <time datetime="2015-12-13 14:36">13 December 2015 at 2:36pm</time></p>

            <div class="related-section">

              <ul class="related-links">
                <li><a href="#">Search for another user</a></li>
              </ul>

            </div>

          </div>
          <!-- end -->

        </div>

        <div class="column-third">

          <!-- related -->
          <div class="related">

            <ul class="related-meta">
              <li>This user&rsquo;s account will be suspended on <time datetime="2017-03-17">17 March 2017</time></li>
              <li>This user last signed in on <br> <time datetime="2015-12-13 14:36">13 December 2015 at 2:36pm</time></li>
            </ul>

            <div class="related-section">

              <ul class="related-links">
                <li><a href="#">Search for another user</a></li>
              </ul>

            </div>

          </div>
          <!-- end -->

        </div>

      </div>

    </div>


    <div class="example">

      <div class="grid-row">

        <div class="column-third">

          <!-- related -->
          <div class="related">

            <div class="related-section">

              <h3 class="related-heading">Actions for this org</h3>

              <ul class="related-links">
                <li><a href="#">View organisation&rsquo;s details</a></li>
              </ul>

            </div>

            <div class="related-section">

              <h3 class="related-heading">Other actions</h3>

              <ul class="related-links">
                <li><a href="#">Search for another organisation</a></li>
                <li><a href="#">Search all users</a></li>
              </ul>

            </div>

          </div>
          <!-- end -->

        </div>

        <div class="column-third">

          <!-- related -->
          <div class="related">

            <div class="related-section">

              <h3 class="related-heading">To do</h3>

              <ul class="related-links">
                <li><a href="#">View case material</a></li>
                <li><a href="#">Enter analysis and charging decisions</a></li>
                <li><a href="#">Create action plan</a></li>
              </ul>

            </div>

          </div>
          <!-- end -->

        </div>

      </div>

    </div>

  </section>

  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>
