  <section aria-labelledby="side-menu">

    <h3 class="heading-medium" id="side-menu">Side menu</h3>

    <div class="example">

      <!--nav class="menu">

        <header class="menu-heading">
          <h3 class="bold-medium">Example side menu version one group heading</h3>
          <span>Menu group sub heading</span>
        </header>

        <ul class="menu-items">

          <li class="is-active">
            <span class="menu-title">Active item title</span>
            <span class="menu-text">Active item text</span>
          </li>

          <li>
            <a href="#">
              <span class="menu-title">Inactive item title</span>
              <span class="menu-text">Inactive item text</span>
            </a>
          </li>

          <li>
            <span class="menu-title">Disabled item title</span>
            <span class="menu-text">Disabled item text</span>
          </li>

        </ul>

      </nav-->   

    </div>

  </section>

  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>
