  <section aria-labelledby="start-action-bar">
    
    <h3 class="heading-medium" id="start-action-bar">Start action bar</h3>
      
      
    <div class="example">
      
      <!--div class="action-bar">     
        
        <div class="action-bar-item action-bar-item-start">
          
          <div class="action-bar-heading">
            Give remand advice, Give remand advice
          </div>
          
          <div class="action-bar-content">
            <a class="action-bar-start" href="#">Start</a>
          </div>
          
        </div>   
        
      </div-->
      
    </div>
    
    
    <div class="example">
      
      <!--ul class="action-bar">
        
        <li class="action-bar-item is-complete">
          
          <div class="action-bar-content">
            <a href="#">Amend</a>
          </div>
          
          <div class="action-bar-heading">
            Full code test met
          </div>
          
        </li>        
        
        <li class="action-bar-item is-complete">
          
          <div class="action-bar-content">
            <a href="#">Amend</a>
          </div>
          
          <div class="action-bar-heading">
            Full code test met
          </div>
          
        </li>   
        
      </ul-->
      
    </div>
    
    
    <div class="example">
      
      <!--ul class="action-bar">
        
        <li class="action-bar-item">
          
          <div class="action-bar-content">
            <a href="#">Amend</a>
          </div>
          
          <div class="action-bar-heading">
            Proposed charge authorisation
          </div>
          
        </li>
        
        <li class="action-bar-item action-bar-item-start">
          
          <div class="action-bar-content">
            <a class="action-bar-start" href="#">Start</a>
          </div>
          
          <div class="action-bar-heading">
            Anticpate the plea
          </div>
          
        </li>   
        
      </ul-->
      
    </div>

    
  </section>
  
  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>