  <section aria-labelledby="start-action-bar">

    <h3 class="heading-medium" id="start-action-bar">Start action bar</h3>

    <p class="text">For semantics, using an unordered list seems logical. This also has the added benefits of sufficient spacing between items.</p>

    <div class="example">

      <ul class="list">
        <li>
          <div class="action-bar action-bar-start">
            <a class="action-bar-header" href="#">
              <span class="action-bar-title">Record case strengths, weaknesses and strategy</span>
            </a>
          </div>
        </li>
        <li>
          <div class="action-bar action-bar-start">
            <a class="action-bar-header" href="#">
              <span class="action-bar-title">Consider European Convention on Human Rights</span>
            </a>
          </div>
        </li>
        <li>
          <div class="action-bar action-bar-start">
            <a class="action-bar-header" href="#">
              <span class="action-bar-title">Recommend applications to court</span>
            </a>
          </div>
        </li>
        <li>
          <div class="action-bar action-bar-start">
            <a class="action-bar-header" href="#">
              <span class="action-bar-title">Where should case be heard?</span>
            </a>
          </div>
        </li>
        <li>
          <div class="action-bar action-bar-start">
            <a class="action-bar-header" href="#">
              <span class="action-bar-title">Anticipate contested issues</span>
            </a>
          </div>
        </li>
      </ul>

    </div>

    <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
  &#x3C;div class=&#x22;action-bar action-bar-start&#x22;&#x3E;
    &#x3C;a class=&#x22;action-bar-header&#x22; href=&#x22;#&#x22;&#x3E;
      &#x3C;span class=&#x22;action-bar-title&#x22;&#x3E;Record case strengths, weaknesses and strategy&#x3C;/span&#x3E;
    &#x3C;/a&#x3E;
  &#x3C;/div&#x3E;
    </code></pre></div>

    <div class="panel panel-border-wide">
      <p>This pattern is for <b>CCR</b> and <b>IT2</b> only.</p>
    </div>

    <div class="example">

      <div class="action-bar action-bar-start">
        <a class="action-bar-header action-bar-header-secondary" href="#">
          <span class="action-bar-title">Order more information</span>
        </a>
      </div>

    </div>

    <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
  &#x3C;div class=&#x22;action-bar action-bar-start&#x22;&#x3E;
    &#x3C;a class=&#x22;action-bar-header action-bar-header-secondary&#x22; href=&#x22;#&#x22;&#x3E;
      &#x3C;span class=&#x22;action-bar-title&#x22;&#x3E;Order more information&#x3C;/span&#x3E;
    &#x3C;/a&#x3E;
  &#x3C;/div&#x3E;
    </code></pre></div>

  </section>

  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>
