  <section aria-labelledby="start-action-bar">

    <h3 class="heading-medium" id="start-action-bar">Start action bar</h3>


    <div class="example">


      <ul class="list">

        <li>
          <div class="action-bar action-bar-start">
            <a class="action-bar-header" href="#">
              <span class="action-bar-title">Record case strengths, weaknesses and strategy</span>
            </a>
          </div>
        </li>

        <li>
          <div class="action-bar action-bar-start">
            <a class="action-bar-header" href="#">
              <span class="action-bar-title">Consider European Convention on Human Rights</span>
            </a>
          </div>
        </li>

        <li>
          <div class="action-bar action-bar-start">
            <a class="action-bar-header" href="#">
              <span class="action-bar-title">Recommend applications to court</span>
            </a>
          </div>
        </li>

        <li>
          <div class="action-bar action-bar-start">
            <a class="action-bar-header" href="#">
              <span class="action-bar-title">Where should case be heard?</span>
            </a>
          </div>
        </li>

        <li>
          <div class="action-bar action-bar-start">
            <a class="action-bar-header" href="#">
              <span class="action-bar-title">Anticipate contested issues</span>
            </a>
          </div>
        </li>

      </ul>


    </div>

    <div class="panel panel-border-wide">
      <p>This pattern is for <b>CCR</b> and <b>IT2</b> only.</p>
    </div>

    <div class="example">

      <div class="action-bar action-bar-start">
        <a class="action-bar-header action-bar-header-secondary" href="#">
          <span class="action-bar-title">Order more information</span>
        </a>
      </div>

    </div>


  </section>

  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>
