  <section aria-labelledby="tiered-navigation">
    
    <h3 class="heading-medium" id="tiered-navigation">Tiered navigation</h3>
      
    <div class="example">
    
      <ul class="tiered-navigation">
        <li><a href="#">Case overview</a></li>
        <li><a href="#">IDPC</a></li>
        <li><a href="#">Case management</a>
          <!--ul>
            <li><a href="#">Plans and issue</a></li>
            <li><a href="#">Summary and submit</a></li>
          </ul-->
        </li>
      </ul>
            
    </div>
    
  </section>
  
  <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>

  </code></pre></div>
  
  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>