  <nav class="toc" id="toc">
    
    <div class="panel panel-border-narrow">
    
      <h1 class="heading-small">Contents</h1>
      
      <ul class="list">
        <li><a href="#breadcrumbs">Breadcrumbs</a></li>
        <li><a href="#next-prev">Next/previous</a></li>
        <li><a href="#pagination">Pagination</a></li>
        <li><a href="#badge-item">Badge item</a></li>
        <li><a href="#side-menu">Side menu</a></li>
        <li><a href="#start-action-bar">Start action bar</a></li>
        <li><a href="#completed-action-bar">Completed action bar</a></li>
        <li><a href="#right-column-navigation">Right column navigation</a></li>
      </ul>
    
    </div>
    
  </nav>