  <section aria-labelledby="button-alignment">
  
    <h3 class="heading-medium" id="button-alignment">Button alignment</h3>
    
    <p class="text">Align the primary action button to the left edge of your form, in the user&rsquo;s line of sight.</p>
    
    <div class="example">
      
      <form class="form">
        
        <div class="form-group">
          <label class="form-label" for="email-address">Email address</label>
          <input class="form-control" type="email" id="email-address">
        </div>
        
        <input class="button" type="submit" value="Save and continue">
        
      </form>
      
    </div>
  
  </section>
  
  <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
&#x3C;div class=&#x22;form-group&#x22;&#x3E;
  &#x3C;label class=&#x22;form-label&#x22; for=&#x22;email-address&#x22;&#x3E;Email address&#x3C;/label&#x3E;
  &#x3C;input class=&#x22;form-control&#x22; type=&#x22;email&#x22; id=&#x22;email-address&#x22;&#x3E;
&#x3C;/div&#x3E;

&#x3C;div class=&#x22;form-group&#x22;&#x3E;
  &#x3C;input class=&#x22;button&#x22; type=&#x22;submit&#x22; value=&#x22;Save and continue&#x22;&#x3E;
&#x3C;/div&#x3E;
  </code></pre></div>
  
  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>