  <nav class="toc" id="toc">
    
    <div class="panel panel-border-narrow">
    
      <h1 class="heading-small">Contents</h1>
      
      <ul class="list">
        <li><a href="#button-text">Button text</a></li>
        <li><a href="#start-now-button">Start now button</a></li>
        <li><a href="#button-alignment">Button alignment</a></li>
        <li><a href="#disabled-button">Disabled button</a></li>
      </ul>
    
    </div>
    
  </nav>