// Action bar
// ==========================================================================

$module: 'action-bar';

.#{$module} {

  // shared style
  a {
    text-decoration: none;
  }

  &-title {
    display: block;
    font-weight: bold;
    padding: em(10);
  }

  // start
  &-start {
    border: 1px solid $panel-colour;
    border-bottom: 3px solid $panel-colour;

    .#{$module}-header {
      background-color: $white;

      &-secondary {
        background-color: lighten($govuk-blue, 60%);
        color: $text-colour;
      }

    }

    .#{$module}-title {
      padding-right: em(30);
    }

    a {
      display: block;
      position: relative;

      &:after {
        background-image: file-url('actionbar-arrow.png');
        content: '';
        display: block;
        height: 16px;
        position: absolute; right: em(10); top: em(12);
        width: 10px;

        @include media(desktop) {
          top: 50%;
          transform: translateY(-50%); // ie9+
        }

        @include device-pixel-ratio() {
          background-image: file-url('actionbar-arrow-2x.png');
          background-size: 100%;
        }

      }
    }

  }

  // completed
  &-completed {

  }

}

/*

HTML Usage

*/
