// Media
// ==========================================================================

$module: 'media-image';

.#{$module} {

  &-title {
    margin-bottom: $gutter-half;
  }

  &-picture {

    img {
      display: block; // removes extra space
    }

  }

  &-meta {
    @include core-16;
    margin-top: em(10, 16);
  }

}

/*

HTML Usage

*/
