// Persist information
// ==========================================================================

$module: 'persist-info';

.#{$module} {
  @include core-16;
  @extend %clearfix;
  background-color: $govuk-blue;
  color: white;
  padding: 5px;

  a {
    color: $white;
    display: block;
    overflow: hidden;

    &:focus {
      color: $text-colour;
    }

  }

  &-links {
    overflow: hidden;
    padding:10px;

    li {
      display: inline-block;
      margin-left: 15px;
      vertical-align: top;

      &:first-child {
        margin-left: 0;
      }

    }

  }

  &-marker {
    @include core-14;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;

    &-sensitive {
      background-color: $yellow;
      color: $text-colour;
    }

  }

  &-reference {
    display: inline-block;
    padding: 10px 0 10px 10px;
  }

  &-title {
    display: inline-block;
    padding: 10px 0 10px 10px;
  }

  // tablet and up
  @include media(desktop) {

    &-content {
      float: left;
    }

    &-links {
      margin-top: 0;
      text-align: right;
    }

  }

}

/*

HTML Usage

<div class="persist-info">
  <span class="persist-info-reference">12AA3456716</span>
  <span class="persist-info-title">Joseph BLOGGS</span>
</div>

*/
