// Tabs
// ==========================================================================

$module: 'tabs';

.#{$module} {

  // shared tab properties
  [role='tabpanel'] {
   
    &[aria-hidden='true'] {
      display: none;
    }
    
  }
  
  @include media(tablet) {
    
    [role='tab'] {
      text-decoration: none;
      
      &[aria-selected='true'] {
        cursor: default;
      }
      
    }
     
    [role='tablist'] {
      margin: 0;
      
      li {
        margin: 0;
      }
      
    }
     
  }
  
  @include media(tablet) {
    
    // tabs horizontal only styles
    &-horizontal {
      
      [role='tab'] {
        background-color: $grey-3;
        float: left;
        margin: em(5) em(5) em(5) 0;
        padding: em(9) em(15);
        text-align: center;
        
        &[aria-selected='true'] {
          background-color: white;
          border-left: 1px solid $grey-2;
          border-right: 1px solid $grey-2;
          border-top: 1px solid $grey-2;
          color: $text-colour;
          margin-bottom: 0;
          margin-top: 0;
          padding: em(12) em(14) em(15);
          position: relative; bottom: -1px;
          
          &:focus {
            border: 0;
            padding: em(13) em(15);
          }
                    
        }
        
      }
      
      [role='tabpanel'] {
        border-top: 1px solid $grey-2;
        clear: both;
        padding: $gutter-half;
        
        // targets and first item
        *:first-of-type {
          margin-top: 0;
        }
        
      }
      
    }  
    
    // tabs vertical only styles
    &-vertical {
      
      [role='tab'] {
        display: block;
        padding: $gutter-half;
        
        &[aria-selected='true'] {
          background-color: $govuk-blue;
          color: white;
          margin: -1px -2px -1px -1px;
          padding: 16px 17px 16px 16px;
          position: relative;
        }
        
      }
      
      [role='tablist'] {
        border: 1px solid $grey-2;
        float: left;
        margin-right: -1px;
        max-width: 170px;
        position: relative;
        
        li {
          border-top: 1px solid $grey-2;
          
          &:first-child {
            border-top: 0;
          }
          
        }
        
      }
      
      [role='tabpanel'] {
        border: 2px solid #bfc1c3;
        overflow: hidden;
        padding: $gutter-half - 4;
        
        // targets and first item
        *:first-of-type {
          margin-top: 0;
        }
                
      }
      
    }  
    
  }

}