  <section aria-labelledby="status-label">
  
    <h3 class="heading-medium" id="status-label">Status label</h3>
    
    <div class="text">
    
    </div>
    
    <div class="example">
      
      <strong class="status-label">Awaiting plea</strong>
      
    </div>
  
  </section>
  
  <div class="code-example" aria-hidden="true" role="presentation"><pre class="prettyprint lang-html"><code>
&#x3C;strong class=&#x22;status-label&#x22;&#x3E;Awaiting plea&#x3C;/strong&#x3E;

&#x3C;!-- paragraph spacing for document flow --&#x3E;
&#x3C;p&#x3E;&#x3C;strong class=&#x22;status-label&#x22;&#x3E;Awaiting plea&#x3C;/strong&#x3E;&#x3C;/p&#x3E;
  </code></pre></div>
  
  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>