  <section aria-labelledby="general-colours">
  
    <h3 class="heading-medium" id="general-colours">General colours</h3>
    
    <div class="example">      
      
      <div class="swatch-wrapper">
      
        <h4 class="heading-small">Text</h4>
      
        <div class="swatch swatch-text-colour"></div>
       
        <ul>
          <li><span class="bold-xsmall">#0B0C0C</span></li>
          <li>$text-colour</li>
        </ul>
        
        <div class="swatch swatch-text-secondary"></div>
      
        <ul>
          <li><span class="bold-xsmall">#6F777B</span></li>
          <li>$secondary-text-colour</li>
        </ul>
      
        <div class="swatch swatch-page-colour"></div>
      
        <ul>
          <li><span class="bold-xsmall">#FFFFFF</span></li>
          <li>$page-colour</li>
        </ul>
      
      </div>      
      
      <div class="swatch-wrapper">
     
        <h4 class="heading-small">Links</h4>
        
        <div class="swatch swatch-link-colour"></div>
        
        <ul>
          <li><span class="bold-xsmall">#005ea5</span></li>
          <li>$link-colour</li>
        </ul>
        
        <div class="swatch swatch-link-colour-hover"></div>
        
        <ul>
          <li><span class="bold-xsmall">#2b8cc4</span></li>
          <li>$link-hover-colour</li>
        </ul>
        
        <div class="swatch swatch-link-colour-visited"></div>
        
        <ul>
          <li><span class="bold-xsmall">#4c2c92</span></li>
          <li>$link-visited-colour</li>
        </ul>
      
      </div>      
      
      <div class="swatch-wrapper">
        
        <h4 class="heading-small">Backgrounds</h4>
        
        <div class="swatch swatch-border-colour"></div>
        
        <ul>
          <li><span class="bold-xsmall">#BFC1C3</span></li>
          <li>$border-colour</li>
        </ul>
        
        <div class="swatch swatch-panel-colour"></div>
        
        <ul>
          <li><span class="bold-xsmall">#DEE0E2</span></li>
          <li>$panel-colour</li>
        </ul>
        
        <div class="swatch swatch-highlight-colour"></div>
        
        <ul>
          <li><span class="bold-xsmall">#F8F8F8</span></li>
          <li>$highlight-colour</li>
        </ul>
        
      </div>      
      
      <div class="swatch-wrapper">
        
        <h4 class="heading-small">Buttons</h4>
        
        <div class="swatch swatch-button-colour"></div>
        <ul>
          <li><span class="bold-xsmall">#00823B</span></li>
          <li>$button-colour</li>
        </ul>
        
        <div class="swatch swatch-green"></div>
        <ul>
          <li><span class="bold-xsmall">#006435</span></li>
          <li>$green (hover colour)</li>
        </ul>
        
      </div>      
        
      <div class="swatch-wrapper">
          
        <h4 class="heading-small">Focus</h4>
        
        <div class="swatch swatch-yellow"></div>
        
        <ul>
          <li><span class="bold-xsmall">#FFBF47</span></li>
          <li>$focus-colour</li>
        </ul>
      
      </div>
      
    </div>
  
  </section>
  
  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>