  <section aria-labelledby="greyscale-colours">
  
    <h3 class="heading-medium" id="greyscale-colours">Greyscale colours</h3>
    
    <div class="example">
        
      <div class="swatch-wrapper">
      
        <div class="swatch swatch-black"></div>
       
        <ul>
          <li><b>#0B0C0C</b></li>
          <li>$black</li>
        </ul>
        
      </div>
  
      <div class="swatch-wrapper">
       
        <div class="swatch swatch-grey-1"></div>
        
        <ul>
          <li><b>#6F777B</b></li>
          <li>$grey-1</li>
        </ul>
        
      </div>
  
      <div class="swatch-wrapper">
       
        <div class="swatch swatch-grey-2"></div>
       
        <ul>
          <li><b>#BFC1C3</b></li>
          <li>$grey-2</li>
        </ul>
        
      </div>
  
      <div class="swatch-wrapper">
       
        <div class="swatch swatch-grey-3"></div>
        
        <ul>
          <li><b>#DEE0E2</b></li>
          <li>$grey-3</li>
        </ul>
        
      </div>
  
      <div class="swatch-wrapper">
       
        <div class="swatch swatch-grey-4"></div>
       
        <ul>
          <li><b>#F8F8F8</b></li>
          <li>$grey-4</li>
        </ul>
        
      </div>
      
    </div>
  
  </section>
  
  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>