  <section aria-labelledby="status-colours">
  
    <h3 class="heading-medium" id="status-colours">Status colours</h3>
    
    <div class="example">      
      
      <div class="swatch-wrapper">
        
        <div class="swatch swatch-alpha"></div>
        
        <ul>
          <li><b>#d53880</b></li>
          <li>$alpha-colour</li>
        </ul>
        
      </div>
  
      <div class="swatch-wrapper">
        
        <div class="swatch swatch-beta"></div>
        
        <ul>
          <li><b>#f47738</b></li>
          <li>$beta-colour</li>
        </ul>
        
      </div>
  
      <div class="swatch-wrapper">
        
        <div class="swatch swatch-discovery"></div>
        
        <ul>
          <li><b>#912b88</b></li>
          <li>$discovery-colour</li>
        </ul>
        
      </div>
  
      <div class="swatch-wrapper">
        
        <div class="swatch swatch-live"></div>
        
        <ul>
          <li><b>#85994b</b></li>
          <li>$live-colour</li>
        </ul>
        
      </div>
  
      <div class="swatch-wrapper">
        
        <div class="swatch swatch-error"></div>
        
        <ul>
          <li><b>#B10E1E</b></li>
          <li>$error-colour</li>
        </ul>
        
      </div>
      
    </div>
  
  </section>
  
  <p class="font-xsmall"><a href="#toc">Back to the top</a></p>