  <nav class="toc" id="toc">
    
    <div class="panel panel-border-narrow">
    
      <h1 class="heading-small">Contents</h1>
      
      <ul class="list">
        <li><a href="#general-colours">General colours</a></li>
        <li><a href="#status-colours">Status colours</a></li>
        <li><a href="#greyscale-colours">Greyscale colours</a></li>
        <li><a href="#extended-colours">Extended colours</a></li>
      </ul>
    
    </div>
    
  </nav>